{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="page-header">
        <div class="container-fluid">
            <span class="fa fa-home"></span>
            <h1>
                {% trans "Demo" %}:
                <strong>{{ request.cradmin_role }}</strong>
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        Welcome to the django cradmin demo!

        <style type="text/css">
            .ace_editor { height: 200px; }
        </style>

        <h2>Try typing some Markdown below!</h2>
        <div ui-ace="{
            mode: 'markdown',
            showGutter: false,
            theme: 'tomorrow'
        }"></div>
    </div>
{% endblock content %}


{% block jsimports %}
    {{ block.super }}
    <script src="{% static 'django_cradmin/dist/vendor/js/ace-markdown-editor/ace.js' %}" type="text/javascript"></script>
    <script src="{% static 'django_cradmin/dist/vendor/js/ace-markdown-editor/ui-ace.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block initialize_angular %}
    <script>
        angular.module('djangoCradmin', [
            'djangoCradmin.default',
            'ui.ace'
        ]);
    </script>
{% endblock %}
