{% extends "django_cradmin/viewhelpers/formview_base.django.html" %}
{% load i18n %}
{% load static %}

{% block pageheader-inner %}
    <h1>
        {% trans "Invite admins" %}
    </h1>
{% endblock pageheader-inner %}

{% block post_form %}
{#    <div class="container-fluid django-cradmin-container-fluid-focus">#}
{#        <h2>{% trans "Existing invites" %}</h2>#}
{#        <table class="table">#}
{#            {% for generictoken in generictokens %}#}
{#                {% if generictoken.single_use %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </table>#}
{#    </div>#}
{% endblock post_form %}
