{% extends "django_cradmin/viewhelpers/formview_base.django.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Send private invite" %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {% trans "Send private invite" %}
    </h1>
{% endblock pageheader-inner %}


{#{% block pre_form %}#}
{#    <div class="container-fluid django-cradmin-container-fluid-focus">#}
{#        <h2>{% trans "Pending invites" %}</h2>#}
{#    </div>#}
{#{% endblock pre_form %}#}
