/* Fieldset and legend

Fieldset and legends is a bitch. For that reason we have to have a little
hacky code to fix them...

Example: Fieldset and Legend
    <fieldset class="fieldset">
        <legend class="legend">I'm a legend</legend>
    </fieldset>

Example: Extra spacing below the fieldset
    <fieldset class="fieldset  fieldset--spaced">
        <legend class="legend">I'm a legend</legend>
    </fieldset>
    This extra spacing is normally not needed because the fieldset
    will contain "fieldwrapper" or "label  label--standalone" elements
    that provide the spacing.

Styleguide form.8:fieldset
*/


.fieldset {
    @extend %clearfix;

    &--spaced {
        margin-bottom: $vertical-rythm--spacing;
    }
}

.legend {
    @extend %clearfix;
    @extend %h4;
    margin-bottom: $vertical-rythm;
}
