.form {
    @include container(xtight);
    position: relative;
    margin-bottom: vertical-space($spacing--large); //$vertical-rythm--spacing * 2;

    &__section {
        margin-bottom: vertical-space($spacing, 1.2);
    }

    &__title {
        @include font(header, bold);
        @include font-size(xlarge);
        color: color(primary);

        // Legend reset
        // float: left;
        width: 100%;

        text-align: center;
        margin-bottom: vertical-space($spacing);
    }

    &__sub-title {
        @include font(base, bold);

        // Legend reset
        // float: left;
        width: 100%;

        display: block;
        margin-bottom: vertical-space();
    }

    &__item {
        &.animate {
            @extend %animation-fall-down;
            @include animation-delay(8, 40ms);
        }

        display: block;
        width: 100%;
        margin-bottom: vertical-space($spacing);

        &--split {
            margin-left: $unit;
            margin-right: $unit;

            @include min-width(md) {
                margin-left: $spacing--small;
                margin-right: $spacing--small;
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__split {
        display: flex;
        width: 100%;
        margin: 0;

        &--tight {
            .form__item--split {
                margin-left: $unit;
                margin-right: $unit;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__message {
        &.animate {
            @extend %animation-fall-down;
        }

        border: $border-width solid color(neutral, light);
        padding: vertical-space() #{$spacing--small + $border-width};

        &.ng-leave {
            @extend %animation-fade-out-up;
            position: absolute;
            width: 100%;
        }
    }
}
