hr,
.separator {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: $border-style;
}

.separator--light {
    border-color: $color-light;
}

.separator--large {
    border-top-width: $unit;
}
