hr,
.separator {
    margin: 0;
    margin-bottom: $spacing;
    padding: 0;
    border: 0;
    border-top: $border-style;

    @include min-width(md) {
        margin-bottom: $spacing--large;
    }
}
