/* Label

Add the class `.label` to style labels.

As a default; wrap labels around inputs. It saves markup and make it more intuitive to read code :)

Example: Label
    <label class="label">
        I'm a label!
    </label>

    <p>Look, <label class="label  label--inline">I'm a inline label</label>!!!</p>

    <label class="label  label--spaceless">
        I have less spacing under...
    </label>

Styleguide 3.label
*/

.label {
    display: block;
    margin-bottom: $vertical-rythm--spacing;
}

.label--inline {
    display: inline;
    margin: 0;
}

.label--spaceless {
    margin-bottom: $unit;
}
