{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Bulk upload archive images" %}
{% endblock title %}

{% block content %}
    <div class="page-header">
        <div class="container-fluid">
            {% block pageheader %}
                <h1>
                    {% trans "Bulk upload archive images" %}
                </h1>
            {% endblock pageheader %}
        </div>
    </div>


    <div class="container-fluid">
        {% crispy form formhelper %}

        {% comment %}
        <form action="{{ request.path }}"
                django-cradmin-bulkfileupload-form
                method="post"
                class="django_cradmin_form django-cradmin-bulkfileupload-form">
            {% csrf_token %}


            {% include "django_cradmin/apps/cradmin_temporaryfileuploadstore/include/bulkfileupload.django.html" with hiddenfieldname='filecollectionid' %}

            <div class="django_cradmin_submitrow">
                <button django-cradmin-bulkfileupload-submit
                        class="btn btn-primary" type="submit">
                    <span ng-if="inProgress">
                        <span class="fa fa-spinner fa-spin"></span>
                        {% trans "Uploading files" %}
                    </span>
                    <span ng-if="!inProgress">
                        {% trans "Add files to the image archive" %}
                    </span>
                </button>
            </div>
        </form>
        {% endcomment %}
    </div>

{% endblock content %}
