{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="page-header">
        <div class="container-fluid">
            {% block pageheader %}
                <h1>
                    Test
                </h1>
            {% endblock pageheader %}
        </div>
    </div>
    <div class="container-fluid">
        <form action="{{ request.path }}"
                django-cradmin-bulkfileupload-form
                method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include "django_cradmin/apps/cradmin_temporaryfileuploadstore/include/bulkfileupload.django.html" with hiddenfieldname='filecollectionid' %}

            <button django-cradmin-bulkfileupload-submit
                    class="btn btn-primary btn-lg" type="submit">
                <span ng-if="inProgress">
                    <span class="fa fa-spinner fa-spin"></span>
                    {% trans "Uploading files" %}
                </span>
                <span ng-if="!inProgress">
                    {% trans "Upload files" %}
                </span>
            </button>
        </form>
    </div>
{% endblock content %}
