/*
Form


Styleguide form
*/

/*
Form sections

Example: Default form section

    <section class="form-section">
        <label>
            Standard input
            <input class="input" type="text" placeholder="I set the standard">
        </label>
    </section>

Example: {preview: false} Without preview

    <section class="form-section">
        <label>
            Standard input
            <input class="input" type="text" placeholder="I set the standard">
        </label>
    </section>

Example: {code: false} Without code

    <section class="form-section">
        <label>
            Standard input
            <input class="input" type="text" placeholder="I set the standard">
        </label>
    </section>

Example: {syntax: css} Syntax other than HTML - preview is false by default

    .stuff {
        color: red;
    }


Styleguide form.form-section
*/

.form-section {
}
