{% extends 'django_cradmin/standalone-base.django.html' %}
{% load cradmin_tags %}

{% block page-cover-title %}
    Listbuilder Guide
{% endblock page-cover-title %}

{% block content %}
    <section class="adminui-page-section">
        <div class="container container--tight">
            <a class="button button--compact button--primary"
               href="{% cradmin_instance_url appname='artist' viewname='create' %}">
                Add New Artist
            </a>
        </div>
    </section>
{% endblock content %}
