{% extends "django_cradmin/viewhelpers/formview/within_role_create_view.django.html" %}

{% block header %}
    <header id="id_django_cradmin_page_header" class="adminui-page-header">
        <div class="adminui-page-header__content">
            <a class="adminui-page-header__brand" href="/gettingstarted/">
                <span class="adminui-page-header__brandname">
                    Back to welcome page
                </span>
            </a>
        </div>
    </header>
{% endblock header %}
