*.o
*.pyc
*.pyo
*.tmp
.*.swp
.*.swo
*~
.DS_Store
*.egg-info/
/dist/
.tox
/build/

# Ignore user-specific pycharm settings
/.idea/

# Files created when running tests and demos
/django_media_root/
/django_static_root/
/test_django_media_root/
/cradmin_demo/django_media_root/
/cradmin_demo/test_django_media_root/
/cache/

# coverage.py
/.coverage
/htmlcov/

*.sqlite3

ievv_buildstatic.appconfig.json

/django_cradmin/demo/custom_theme_demo/staticsources/custom_theme_demo/node_modules/
/django_cradmin/demo/custom_theme_demo/staticsources/custom_theme_demo/package.json
/django_cradmin/demo/custom_theme_demo/static/

yarn-error.log
npm-debug.log

.vscode/
.vscode-atest-temp/
.python-version
.nvmrc

.venv/
