include README.rst
recursive-include django_cradmin *.po
recursive-include django_cradmin *.mo
recursive-include django_cradmin *.js
recursive-include django_cradmin *.css
recursive-include django_cradmin *.html
recursive-include django_cradmin *.txt
recursive-include django_cradmin *.png
recursive-include django_cradmin *.gif
recursive-include django_cradmin *.json
recursive-include django_cradmin *.woff
recursive-include django_cradmin *.woff2
recursive-include django_cradmin *.svg
recursive-include django_cradmin *.otf
prune django_cradmin/static/django_cradmin/node_modules
prune django_cradmin/static/django_cradmin/bower.json
prune django_cradmin/static/django_cradmin/dist
prune django_cradmin/static/django_cradmin/src
prune django_cradmin/static/django_cradmin/examples
prune django_cradmin/static/django_cradmin/Gruntfile.coffee
prune django_cradmin/static/django_cradmin/package.json
prune django_cradmin/staticsources/django_cradmin/node_modules
prune django_cradmin/staticsources/django_cradmin/package.json
prune django_cradmin/staticsources/django_cradmin/typings.json
prune django_cradmin/static/django_cradmin/bower_components
prune django_cradmin/demo
