include README.rst
recursive-include django_cradmin *.po
recursive-include django_cradmin *.mo
recursive-include django_cradmin *.js
recursive-include django_cradmin *.css
recursive-include django_cradmin *.html
recursive-include django_cradmin *.txt
recursive-include django_cradmin *.png
recursive-include django_cradmin *.gif
recursive-include django_cradmin *.json
recursive-include django_cradmin *.woff
recursive-include django_cradmin *.woff2
recursive-include django_cradmin *.svg
recursive-include django_cradmin *.otf
recursive-include django_cradmin *.scss
recursive-include django_cradmin *.eot
recursive-include django_cradmin *.ttf
prune django_cradmin/demo
prune django_cradmin/apps/django_cradmin_js/staticsources/
prune django_cradmin/apps/django_cradmin_styles/staticsources/django_cradmin_styles/node_modules/
prune django_cradmin/apps/django_cradmin_styles/staticsources/django_cradmin_styles/mediasources/
exclude django_cradmin/apps/django_cradmin_styles/staticsources/django_cradmin_styles/yarn.lock
exclude django_cradmin/apps/django_cradmin_styles/staticsources/django_cradmin_styles/package.json
exclude django_cradmin/apps/django_cradmin_styles/staticsources/django_cradmin_styles/ievv_buildstatic.appconfig.json
