[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
htmls = "*"
flake8 = "*"
tox = "*"
coverage = "*"
django-dbdev = "*"
django-debug-toolbar = "*"
twine = "*"
pytest = "==5.3.5"
pytest-django = "==3.8.0"
pytest-env = "==0.6.2"
Markdown = "*"
Pygments = "*"
beautifulsoup4 = "*"
html5lib = "*"
pythonkss = "*"
mock-django = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
model-bakery = "*"
django_cradmin = {editable = true, path = "."}

[packages]
future = "*"
appresso-sphinx-extensions = "*"
djangorestframework = "*"
html2text = "*"
termcolor = "*"
psutil = "*"
watchdog = "*"
sh = "*"
arrow = "*"

[requires]
python_version = "3.8"
