{% extends "django_cradmin/viewhelpers/listfilter/base/abstractfilter.django.html" %}

{% block inputfield %}
    <select id="{{ me.get_inputfield_dom_id }}"
            class="form-control"
            django-cradmin-listfilter-select>
        {% for choicedata in choicesdata %}
            <option value="{{ choicedata.url }}"
                    {% if choicedata.is_selected %}selected{% endif %}>
                {{ choicedata.label }}
            </option>
        {% endfor %}
    </select>
{% endblock inputfield %}
