{% extends "django_cradmin/layouts/standalone/focused.django.html" %}
{% load cradmin_kss_styleguide_tags %}

{% block pageheader-inner %}
    <h1>Style guides</h1>
{% endblock pageheader-inner %}

{% block content %}
    <nav class="blocklist">
        {% for styleguideconfig in styleguideregistry.iterstyleguides %}
            <a class="blocklist__item blocklist__item--link"
                    href="{% url 'cradmin_kss_styleguide_guide' unique_id=styleguideconfig.unique_id %}">
                {{ styleguideconfig.label }}
            </a>
        {% endfor %}
    </nav>
{% endblock content %}
