{% extends "django_cradmin/viewhelpers/formview/standalone_form_view.django.html" %}
{% load i18n %}

{% block title %}
    {% trans "Reset your password" %}
{% endblock title %}

{% block page-cover-title %}
    {% trans "Reset your password" %}
    {% if generic_token_with_metadata and not generic_token_with_metadata.is_expired %}
        <small class="text-muted">{{ generic_token_with_metadata.content_object }}</small>
    {% endif %}
{% endblock page-cover-title %}

{% block content %}
    {% if generic_token_with_metadata == None %}
        {% if generic_token_with_metadata_is_expired %}
            <div class="alert alert-danger" id="django_cradmin_resetpassword_reset_expired_message">
                {% trans "This password reset link has expired." %}
            </div>
        {% else %}
            <div class="alert alert-danger" id="django_cradmin_resetpassword_reset_invalid_token_message">
                {% trans "Invalid password reset URL. Are you sure you copied the entire URL from the email?" %}
            </div>
        {% endif %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock content %}
