{% extends 'django_cradmin/base.django.html' %}

{% block page-cover-title %}
    {{ song.title }}
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
    Preview
{% endblock page-cover-content %}

{% block content %}
    <section class="adminui-page-section">
        <div class="container container--tight">
            <p>Title: {{ song.title }}</p>
            <p>Written by: {{ song.written_by }}</p>
            <p>Length: {{ song.time }} minutes</p>
            <p>On album: {{ song.album }}</p>
        </div>
    </section>
{% endblock content %}

