/* AdminUI expandable menu


Example: {type: isolated} Example

    <header class="page-header  page-header--fill"
            cradmin_menutoggle_groupid="mainmenu" cradmin_menutoggle_activestyle="page-header--showmenu">
        <div class="page-header__content">
            <a class="page-header__brand">
                <span class="page-header__brandname">My brand</span>
            </a>
            <nav class="page-header__nav">
                <button type="button" class="page-header__navmenutoggle"
                        cradmin_menutoggle_clickable
                        cradmin_menutoggle_groupid="mainmenu">
                    Menu
                    <i class="icon-hamburger"
                            cradmin_menutoggle_groupid="mainmenu" cradmin_menutoggle_activestyle="icon-hamburger--close"
                            aria-hidden="true" role="presentation">
                        <span aria-hidden="true" class="icon-hamburger__bar"></span>
                        <span aria-hidden="true" class="icon-hamburger__bar"></span>
                        <span aria-hidden="true" class="icon-hamburger__bar"></span>
                    </i>
                </button>
            </nav>
        </div>
    </header>

    <div class="page-cover"></div>

    <div class="expandable-menu" cradmin_menutoggle_groupid="mainmenu" cradmin_menutoggle_activestyle="expandable-menu--expanded">
        <div class="expandable-menu__backdrop" cradmin_menutoggle_groupid="mainmenu" cradmin_menutoggle_clickable></div>
        <div class="expandable-menu__content">
            <p>Menu content here</p>
        </div>
    </div>

Styleguide components.adminui.expandable-menu
*/
.expandable-menu {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    z-index: $level-3;

    &--expanded {
        display: block;
    }

    &__backdrop {
        position: fixed;
        z-index: $level-2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, .3);
        display: none;
        @include min-width(lg) {
            display: block;
        }
    }

    &__content {
        position: fixed;
        z-index: $level-3;
        padding-top: 80px;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: color(primary, base);
        color: $color-light;
        @include min-width(lg) {
            width: 50%;
        }
    }
}
