{% load cradmin_image_tags %}
<html>
    <head>
        <style type="text/css">
            body {
                background-color: #fff;
                font-family: sans-serif;
                font-size: 16px;
            }
            .pageintro {
                font-size: 20px;
                white-space: pre-wrap;
            }
        </style>
    </head>
    <body>
        <h1>{{ page.title }}</h1>
        <p class="pageintro">{{ page.intro }}</p>
        {% if page.image %}
            <p>
                <img src="{% cradmin_archiveimage_thumbnail page.image width=400 height=300 %}"
                     alt="{{ page.image.description }}">
            </p>
        {% endif %}
        <div class="pagebody">{{ page.body }}</div>
    </body>
</html>
