{% extends "webdemo/base.django.html" %}
{% load cradmin_image_tags %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
    <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.intro }}</p>
        {% if page.image %}
            <p>
                <img src="{% cradmin_archiveimage_thumbnail page.image width=400 height=300 %}"
                     alt="{{ page.image.description }}" class="img-responsive">
            </p>
        {% endif %}
        {{ page.body }}
    </div>
{% endblock content %}
