/*
Colors

<h3>Primary</h3>
<ul class="sg-colors">
    <li class="sg-colors__item  sg-colors__item--primary--base"></li>
    <li class="sg-colors__item  sg-colors__item--primary--dark"></li>
</ul>
<h3>Secondary</h3>
<ul class="sg-colors">
    <li class="sg-colors__item  sg-colors__item--secondary--base"></li>
    <li class="sg-colors__item  sg-colors__item--secondary--dark"></li>
</ul>
<h3>Information</h3>
<ul class="sg-colors">
    <li class="sg-colors__item  sg-colors__item--info--base"></li>
    <li class="sg-colors__item  sg-colors__item--info--dark"></li>
</ul>
<h3>Neutral shades</h3>
<ul class="sg-colors">
    <li class="sg-colors__item  sg-colors__item--neutral--light"></li>
    <li class="sg-colors__item  sg-colors__item--neutral--medium"></li>
    <li class="sg-colors__item  sg-colors__item--neutral--base"></li>
    <li class="sg-colors__item  sg-colors__item--neutral--dark"></li>
</ul>

Styleguide 1.1
*/

$color-primary-base: #d71921 !default;
$color-primary-dark: #b4151b !default;

$color-secondary-base: #73ccde !default;
$color-secondary-dark: #35687a !default;

$color-info-base: #ffce00 !default;
$color-info-dark: #e58200 !default;

$color-neutral-base: mix(#f5f4f0, #393939, 50%) !default;
$color-neutral-light: #f5f4f0 !default;
$color-neutral-medium: #cbcbca !default;
$color-neutral-dark: #393939 !default;

$colors: (
    primary: (
        base: $color-primary-base,
        dark: $color-primary-dark
    ),
    secondary: (
        base: $color-secondary-base,
        dark: $color-secondary-dark
    ),
    info: (
        base: $color-info-base,
        dark: $color-info-dark
    ),
    neutral: (
        base: $color-neutral-base,
        light: $color-neutral-light,
        medium: $color-neutral-medium,
        dark: $color-neutral-dark
    )
);

$color-light: #fff;
$color-dark: color(neutral, dark);
$color-warning: color(primary);
$color-success: #007f1e;


// Specific colors.
// Variables are there to be reused, so being to specific or creating to many will create the opposite situation
$color-background: color(neutral, light);
$color-text: $color-dark;
$color-muted: tint($color-text, 26%);
$color-links: color(secondary, dark);
$color-links--hover: shade(color(secondary, dark), 35%);
