$cricon-default-icon-names:
    arrow-up,
    arrow-down,
    arrow-left,
    arrow-right,
    chevron-up,
    chevron-down,
    chevron-left,
    chevron-right,
    check,
    search,
    close,
    user,
    clock,
    flag,
    ellipsis-horizontal,
    download,
    file,
    info,
    warning,
    settings,
    bars,
    external-link,
    podcast,
    email,
    phone,
    map-marker,
    location-arrow,
    list-ul,
    list-ol,
    bold,
    italic,
    image,
    video,
    text,
    facebook,
    twitter,
    instagram,
    youtube,
    snapchat
;

$cricon-extra-icon-names: null !default;
