{% extends "django_cradmin/layouts/standalone/focused.django.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{#{% load staticfiles %}#}

{% block jsimports %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'cradmin_authenticate/dist/js/cradmin_authenticate.min.js' %}" type="text/javascript"></script>
{% endblock jsimports %}

{% block title %}
    {% trans "Sign in" %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>{% trans "Sign in" %}</h1>
{% endblock pageheader-inner %}

{% block content %}
    {% crispy form formhelper %}

    {% if DJANGO_CRADMIN_FORGOTPASSWORD_URL %}
        <p id="cradmin_authenticate_login_forgotpasswordlink">
            <a href="{{ DJANGO_CRADMIN_FORGOTPASSWORD_URL }}">
                {% trans "Forgot your password?" %}
            </a>
        </p>
    {% endif %}
{% endblock content %}

{% block initialize_angular %}
    <script>
        angular.module('djangoCradminUi', ['djangoCradmin', 'cradminAuthenticate']);
    </script>
{% endblock initialize_angular %}