nav#cradmin_menu {
  background-color: @cradmin-menu-bg;

  .cradmin-menucontent {
    display: none;
    &.cradmin-menucontent-display {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          display: block;
          color: @cradmin-menu-color;
          padding: 10px 16px 10px 16px;
          transition: color 0.3s ease;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          &:hover {
            text-decoration: none;
            color: @cradmin-menu-hovercolor;
          }
        }
        &.cradmin-menu-activeitem a {
          color: @cradmin-menu-hovercolor;
          font-weight: bold;
        }
      }

      //&.cradmin-menucontent-header {
      //  background-color: @cradmin-menu-header-bg;
      //}
      //&.cradmin-menucontent-main {
      //}
      &.cradmin-menucontent-footer {
        margin-top: 30px;
      }
    }
  }

  .cradmin-menumobileheader {
    border-bottom: 1px solid @cradmin-menu-border;
    .cradmin-menutoggle {
      width: 100%;
      .button-variant(#eee, #333, #444);
      border: none;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 14px;
      border-radius: 0;
      background: none;
    }
    @media (min-width: @screen-md-min) {
      display: none;
    }
  }

  @media (min-width: @screen-md-min) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: @cradmin-menu-width;
    overflow-y: auto;
    overflow-x: hidden;

    .cradmin-menucontent {
      display: block;
      ul {
        &.cradmin-menucontent-header {
          background-color: @cradmin-menu-header-bg;
        }
      }
    }
  }
}
