// Styles for the default cradmin theme
//@import "../thirdparty/font-awesome";
@import "../cradmin_base/all";
@import "variables";
@import "menu";


#django_cradmin_contentwrapper {
  @media (min-width: @screen-md-min) {
    padding-left: @cradmin-menu-width;
  }
}

body.django-cradmin-hide-menu {
  #django_cradmin_contentwrapper {
    @media (min-width: @screen-md-min) {
      padding-left: 0;
    }
  }
}


.django_cradmin_submitrow {
  @media (min-width: @screen-md-min) {
    left: (@cradmin-menu-width + @cradmin-bodypadding);
    width: (600px - @cradmin-bodypadding*2);
    right: auto;
  }
  @media (min-width: @screen-lg-min) {
    width: (800px - @cradmin-bodypadding*2);
  }
}


.container {
  //margin-left: 0;
  //margin-right: auto;
  @media (min-width: @screen-sm-min) {
    width: (@container-sm - @cradmin-menu-width);
    margin-left: 0;
    margin-right: auto;
  }
  @media (min-width: @screen-md-min) {
    width: (@container-md - @cradmin-menu-width);
  }
  @media (min-width: @screen-lg-min) {
    width: (@container-lg - @cradmin-menu-width);
  }
}

//table.table.cradmin-table {
//  margin-left: -(@grid-gutter-width / 2);
//  margin-right: -(@grid-gutter-width / 2);
//  //margin: 0 -(@grid-gutter-width / 2) 0 -(@grid-gutter-width / 2);
//}
.container.cradmin-table-container {
  padding: 0;
}
