{% extends "django_cradmin/standalone-base.django.html" %}
{% load cradmin_tags %}

{% block body %}
    {% block menu %}
        {% cradmin_render_menu %}
    {% endblock menu %}

    <div id="django_cradmin_contentwrapper">
        {% block pageheader %}
            {% comment %}
                The page header can be hidden in two ways:
                - Set hide_pageheader = True in the template context.
                - Set the DJANGO_CRADMIN_HIDE_PAGE_HEADER setting.
            {% endcomment %}
            {% if not hide_pageheader and not DJANGO_CRADMIN_HIDE_PAGE_HEADER %}
                <div class="django-cradmin-page-header-outer {% block pageheader-outer-extraclasses %}{% endblock %}">
                    <div class="container">
                        <div class="django-cradmin-page-header-inner">
                            {% block pageheader-inner %}{% endblock pageheader-inner %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock pageheader %}

        {% block messages %}
            <div class="container">
                {% include "django_cradmin/include/messages.django.html" %}
            </div>
        {% endblock messages %}

        {% block content %}{% endblock content %}
    </div>

{% endblock body %}
