{% comment %}
    Includes the cradmin menu. You can make your view not render the menu by
    setting the ``cradmin_hide_menu`` context variable to ``True``.
{% endcomment %}
{% load i18n %}
{% load cradmin_tags %}


{% block pre-menunav %}{% endblock pre-menunav %}

<div id="id_django_cradmin_mainmenu"
        {% comment %}
        django-cradmin-menu
        django-cradmin-menu-autodetect-overflow-y="django-cradmin-menu-overflow-y"
        {% block scrollfixed %}
            {% if DJANGO_CRADMIN_MENU_SCROLL_TOP_FIXED %}
                django-cradmin-scroll-top-fixed='{{ DJANGO_CRADMIN_MENU_SCROLL_TOP_FIXED|cradmin_jsonencode }}'
            {% endif %}
        {% endblock scrollfixed %}
        {% endcomment %}
        class="{% block css-class %}menu{% endblock %}">
    {% block pre-menu %}{% endblock pre-menu %}

    <div class="menu__mobileheader">
        {% block mobile-header %}
            {% block mobile-header-pre %}{% endblock mobile-header-pre %}
                <button type="button"
                        class="django-cradmin-menu-mobiletoggle"
                        ng-click="cradminMenuTogglePressed()"
                        ng-class="{'django-cradmin-menu-mobile-toggle-button-expanded': cradminMenuDisplay}"
                        aria-pressed="{% verbatim %}{{ getAriaPressed() }}{% endverbatim %}">
                    {% block mobile-header-menutoggle-content %}
                        {% trans "Menu" %}
                    {% endblock mobile-header-menutoggle-content %}
                </button>
            {% block mobile-header-post %}{% endblock mobile-header-post %}
        {% endblock mobile-header %}
    </div>

    <div class="menu__content" ng-class="{'menu__content--display': cradminMenuDisplay}">
        <nav class="navigationtree  navigationtree--vertical  navigationtree--primary">
            {% block menucontent %}
                {% with menu=request.cradmin_instance.get_menu %}
                    {% for menuitem in menu %}
                        {{ menuitem.render|safe }}
                    {% endfor %}
                {% endwith %}
            {% endblock menucontent %}
        </nav>
    </div>

    {% block post-menu %}{% endblock post-menu %}
</div>

{% block post-menunav %}{% endblock post-menunav %}
