{% block contentwrapper %}
    <{{menuitem.get_menu_item_htmltag}}
            class="navigationtree__item
                {% if menuitem.is_active %}navigationtree__item--active{% endif %}
                {% if menuitem.is_expanded %}django-cradmin-menu-expandeditem{% endif %}
                {{ menuitem.get_item_css_class }}
                {% block extraclasses %}{{ menuitem.extra_css_classes }}{% endblock extraclasses %}">
        {% block list-item-content %}
            <a href="{{ menuitem.url }}"
                    title="{{ menuitem.get_title }}"
                    class="{{ menuitem.get_link_css_class }}"
                    {% block extra-link-attributes %}{% endblock %}
                    {% if menuitem.open_new_window %}target="_blank"{% endif %}>
                {% block link-label %}
                    {{ menuitem.label }}
                {% endblock link-label %}
            </a>
        {% endblock list-item-content %}
{#        {% block child-items-nav %}#}
{#            {% if menuitem.has_childitems and menuitem.is_expanded %}#}
{#                <nav class="django-cradmin-menu-childitems">#}
{#                    <ul>#}
{#                        {% for childitem in menuitem.childitems %}#}
{#                            {{ childitem.render|safe }}#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </nav>#}
{#            {% endif %}#}
{#        {% endblock child-items-nav %}#}
    </{{ menuitem.get_menu_item_htmltag }}>
{% endblock contentwrapper %}
