{% block contentwrapper %}
    <li class="
            {% if menuitem.is_active %}cradmin-menu-activeitem{% endif %}
            {% block extraclasses %}{{ menu.extra_css_classes }}{% endblock extraclasses %}">
        {% block list-item-content %}
            <a href="{{ menuitem.url }}"
                    title="{{ menuitem.description }}"
                    {% if menuitem.open_new_window %}target="_blank"{% endif %}>
                {% block link-content %}
                    {{ menuitem.label }}
                {% endblock link-content %}
            </a>
        {% endblock list-item-content %}
    </li>
{% endblock contentwrapper %}
