{% extends "django_cradmin/layouts/standalone/focused.django.html" %}
{% load i18n %}
{% load cradmin_tags %}

{% block title %}{{ pagetitle }}{% endblock title %}

{% block pageheader-inner %}
    <h1>{{ pagetitle }}</h1>
{% endblock pageheader-inner %}

{% block content %}
    <section class="{% block list_css_class %}blocklist{% endblock %}">
        {% for role in roles %}
            <a href="{% cradmin_rolefrontpage_url role %}"
                    class="{% block list_element_css_class %}blocklist__item  {% block list_element_css_class_modifier %}blocklist__item--link{% endblock %}{% endblock %}">
                <h2 class="django-cradmin-roleselect-role-title">
                    {% cradmin_titletext_for_role role %}
                </h2>
                {% cradmin_descriptionhtml_for_role role as descriptionhtml %}
                {% if descriptionhtml %}
                    <div class="django-cradmin-roleselect-role-description">
                        {{ descriptionhtml }}
                    </div>
                {% endif %}
            </a>
        {% endfor %}
    </section>
    {% include "django_cradmin/viewhelpers/includes/pager.django.html" %}
{% endblock content %}
