.django-cradmin-bulkfileupload {
  .django-cradmin-bulkfileupload-dropbox {
    background-color: @cradmin-bulkfileupload-dropbox-bg;
    color: @cradmin-bulkfileupload-dropbox-color;
    font-weight: @cradmin-bulkfileupload-dropbox-font-weight;
    font-size: @cradmin-bulkfileupload-dropbox-font-size;
    padding: @cradmin-bulkfileupload-dropbox-padding;
    text-align: @cradmin-bulkfileupload-dropbox-text-align;
    &.django-cradmin-bulkfileupload-dropbox-dragover {
      background-color: #fff;
    }
  }

  p.django-cradmin-bulkfileupload-buttonwrapper {
    text-align: @cradmin-bulkfileupload-button-align;
    .django-cradmin-bulkfileupload-button {
      display: inline-block;
      color: @cradmin-bulkfileupload-button-color;
      &:hover {
        color: @cradmin-bulkfileupload-button-hover-color;
      }
    }
  }
}
