{% extends "django_cradmin/standalone-base.django.html" %}
{% load cradmin_tags %}

{% block page-cover-title %}
    Django-cradmin demos
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
    <p>
        The sourcecode for the demos is in
        <a href="{{ github_base_url }}" class="adminui-page-cover__link">
            django_cradmin/demo/
        </a>
    </p>
{% endblock page-cover-content %}


{% block content %}
    <div class="adminui-page-section adminui-page-section--tight">
        <div class="blocklist">
            <section class="blocklist__item">
                <h2 class="blocklist__itemtitle"><a href="{% cradmin_instanceroot_url 'webdemo' %}">webdemo</a></h2>
                <p>
                    A fairly full featured demo.
                </p>
                <p>
                    <a href="{{ github_base_url }}/webdemo/">django_cradmin/demo/webdemo/</a>
                </p>
            </section>

            <section class="blocklist__item">
                <h2 class="blocklist__itemtitle"><a href="{% cradmin_instanceroot_url 'login_not_required_demo' %}">login_not_required_demo</a></h2>
                <p>
                    Shows how to create a cradmin instance that does not require login.
                </p>
                <p>
                    <a href="{{ github_base_url }}/login_not_required_demo/">django_cradmin/demo/login_not_required_demo/</a>
                </p>
            </section>

            <section class="blocklist__item">
                <h2 class="blocklist__itemtitle"><a href="{% cradmin_instanceroot_url 'no_role_demo' %}">no_role_demo</a></h2>
                <p>
                    Shows how to create a cradmin instance without a role (for regular websites).
                </p>
                <p>
                    <a href="{{ github_base_url }}/no_role_demo/">django_cradmin/demo/no_role_demo/</a>
                </p>
            </section>

            <section class="blocklist__item">
                <h2 class="blocklist__itemtitle"><a href="{% cradmin_instanceroot_url 'uicontainerdemo' %}">uicontainerdemo</a></h2>
                <p>
                    A demo of <em>django_cradmin.uicontainer</em>.
                </p>
                <p>
                    <a href="{{ github_base_url }}/uicontainerdemo/">django_cradmin/demo/uicontainerdemo/</a>
                </p>
            </section>

            <section class="blocklist__item">
                <h2 class="blocklist__itemtitle"><a href="{% url 'cradmin_javascript_demos_overview' %}">cradmin_javascript_demos</a></h2>
                <p>
                    Javascript components demo
                </p>
                <p>
                    <a href="{{ github_base_url }}/cradmin_javascript_demos/">django_cradmin/demo/cradmin_javascript_demos/</a>
                </p>
            </section>
        </div>
    </div>
{% endblock content %}

{% block body %}
    {{ block.super }}
    <section class="adminui-page-section adminui-page-section--center">
        <div class="container">
            <a href="/styleguide/" class="button button--compact">
                Styleguides
            </a>
            <a href="/djangoadmin/" class="button button--compact">
                Django admin UI
            </a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'cradmin-authenticate-logout' %}?next=/" class="button button--compact button--fill">
                    Log out
                </a>
            {% endif %}
        </div>
    </section>
{% endblock body %}
