{% extends "django_cradmin/layouts/standalone/focused.django.html" %}


{% block pageheader-inner %}
    <h1>Django-cradmin demos</h1>
    <p>
        The sourcecode for the demos is in
        <a href="{{ github_base_url }}">
            django_cradmin/demo/
        </a>
    </p>
{% endblock pageheader-inner %}


{% block content %}
    <h2><a href="/webdemo/">webdemo</a></h2>
    <p>
        A fairly full featured demo.
    </p>
    <p>
        <a href="{{ github_base_url }}/webdemo/">django_cradmin/demo/webdemo/</a>
    </p>
    <hr>

    <h2><a href="/listfilterdemo/">listfilterdemo</a></h2>
    <p>
        A demo for <em>django_cradmin.viewhelpers.listfilter</em>.
    </p>
    <p>
        <a href="{{ github_base_url }}/listfilterdemo/">django_cradmin/demo/listfilterdemo/</a>
    </p>
    <hr>

    <h2><a href="/multiselect2demo/">multiselect2demo</a></h2>
    <p>
        A demo for <em>django_cradmin.viewhelpers.multiselect2</em>.
    </p>
    <p>
        <a href="{{ github_base_url }}/multiselect2demo/">django_cradmin/demo/multiselect2demo/</a>
    </p>
    <hr>

    <h2><a href="/login_not_required_demo/">login_not_required_demo</a></h2>
    <p>
        Shows how to create a cradmin instance that does not require login.
    </p>
    <p>
        <a href="{{ github_base_url }}/login_not_required_demo/">django_cradmin/demo/login_not_required_demo/</a>
    </p>
    <hr>

    <h2><a href="/no_role_demo/">no_role_demo</a></h2>
    <p>
        Shows how to create a cradmin instance without a role (for regular websites).
    </p>
    <p>
        <a href="{{ github_base_url }}/no_role_demo/">django_cradmin/demo/no_role_demo/</a>
    </p>
    <hr>

    <h2><a href="/usermanagerdemo/">usermanagerdemo</a></h2>
    <p>
        A starting point for an account management dashboard.
    </p>
    <p>
        <a href="{{ github_base_url }}/usermanagerdemo/">django_cradmin/demo/usermanagerdemo/</a>
    </p>
    <hr>

    <h2><a href="/uicontainerdemo/">uicontainerdemo</a></h2>
    <p>
        A demo of <em>django_cradmin.uicontainer</em>.
    </p>
    <p>
        <a href="{{ github_base_url }}/usermanagerdemo/">django_cradmin/demo/usermanagerdemo/</a>
    </p>

{% endblock content %}

{% block body %}
    {{ block.super }}
    <section class="page-section page-section--tight page-section--center">
        <p>
            <a href="/superuser/" class="btn btn-default btn-block btn-lg">
                Cradmin superuser UI
            </a>
        </p>
        <p>
            <a href="/styleguide/" class="btn btn-default btn-block btn-lg">
                Styleguides
            </a>
        </p>
        <p>
            <a href="/djangoadmin/" class="btn btn-default btn-block btn-lg">
                Django admin UI
            </a>
        </p>
    </section>
{% endblock body %}
