/* Fieldset and legend

Fieldset and legends is a bitch. For that reason we have to have a little hacky code to fix them...

Example: Fieldset and Legend
    <fieldset>
        <legend>I'm a legend</legend>
    </fieldset>

Styleguide 3.7
*/


fieldset {
    @extend %clearfix;
    position: relative;
    display: block;
    border: 0;
    margin-top: 0;
    margin-bottom: $vertical-rythm--spacing;
}

legend {
    @extend %h3;

    // Legend position fix
    display: block;
    float: left;
    width: 100%;
}
