/*
Links

__Never__ use `<span>`, `<div>` or elements without a semantic meaning as links.

Example: Link styles
    <a href="">I'm a link</a>
    <a href="" class="link--light">I'm also link</a>

Styleguide 2.7
*/
a,
.link,
%link {
    display: inline;
    cursor: pointer;
    text-decoration: none;

    color: $color-text;
    border-bottom: $border-width--small solid $color-text;
    // border-bottom: $border-width--small solid rgba($color-links, 0.15);

    &:hover,
    &:focus {
        color: $color-links--hover;
        border-color: $color-links--hover;
    }
}

.link--light,
%link--light {
    color: $color-light;
    border-color: rgba($color-light, 0.7);

    &:hover,
    &:focus {
        color: $color-light;
        border-color: $color-light;
    }
}
