 <div class="adminui-page-section">
    <div class="container">
        <h2>Simple HTML list</h2>
        <div data-ievv-jsbase-widget="cradmin-api-data-list"
             data-ievv-jsbase-widget-config='{
                 "signalNameSpace": "simplehtmllisttest",
                 "apiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}",
                 "minimumSearchStringLength": 0,
                 "multiselect": false
             }'>
        </div>
        <div data-ievv-jsbase-widget="cradmin-search-input"
             data-ievv-jsbase-widget-config='{
                 "signalNameSpace": "simplehtmllisttest"
             }'></div>
        <div data-ievv-jsbase-widget="cradmin-signal-router"
             data-ievv-jsbase-widget-config='{
                 "signalNameSpace": "simplehtmllisttest",
                 "signalMap": {

                 }
             }'>
        </div>
        <div data-ievv-jsbase-widget="cradmin-html-list"
             data-ievv-jsbase-widget-config='{
                 "signalNameSpace": "simplehtmllisttest"
             }'>
        </div>
    </div>
</div>
