{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load cradmin_tags %}

{% block bodyclass %}
    {{ block.super }}
    django-cradmin-listbuilderview-page
{% endblock %}

{% block title %}
    {{ pagetitle }}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {% block heading %}
            {{ pageheading }}
        {% endblock heading %}
    </h1>
{% endblock pageheader-inner %}

{% block content %}
    <div class="container">
        {% block list %}
            {% if listbuilder_list.has_items %}
                {% cradmin_render_renderable listbuilder_list %}
                {% include "django_cradmin/viewhelpers/includes/pager.django.html" with extra_querystring=pager_extra_querystring %}
            {% else %}
                <p class="django-cradmin-listing-no-items-message django-cradmin-listbuilderview-no-items-message">
                    {{ no_items_message }}
                </p>
            {% endif %}
        {% endblock list %}
    </div>
{% endblock content %}

{% block outside-bodycontentwrapper %}
    {{ block.super }}
    {% if enable_previews %}
        <div django-cradmin-page-preview-wrapper>
            {% include "django_cradmin/pagepreview/includes/pagepreview-fullsize-iframe-wrapper.django.html" %}
        </div>
    {% endif %}
{% endblock outside-bodycontentwrapper %}
