{% extends "django_cradmin/viewhelpers/listbuilderview/default.django.html" %}

{% block bodyclass %}
    {{ block.super }}
    django-cradmin-listbuilderview-filterlist-right-page
{% endblock %}


{% block list %}
    <div class="row">
        <div class="{% block filterlist-column-classes %}col-sm-4 col-lg-3{% endblock %}">
            {{ filterlist.render }}
        </div>
        <div class="{% block list-column-classes %}col-sm-8 col-lg-9{% endblock %}">
            {{ block.super }}
        </div>
    </div>
{% endblock list %}
