{% extends "django_cradmin/viewhelpers/listbuilderview/default.django.html" %}
{% load cradmin_tags %}

{% block bodyclass %}
    {{ block.super }}
    django-cradmin-listbuilderview-filterlist-top-page
{% endblock %}


{% block list %}
    {% block filterlist %}
        {% cradmin_render_renderable filterlist %}
    {% endblock filterlist %}
    {% with listbuilderlist_html=block.super %}
        {% block listbuilderlist %}
            {{ listbuilderlist_html }}
        {% endblock listbuilderlist %}
    {% endwith %}
{% endblock list %}
