{% extends "django_cradmin/standalone-base.django.html" %}
{% comment %}
    You never extend this directly - extend
    ``django_cradmin/layouts/standalone/focused.django.html`` instead.
{% endcomment %}
{% load cradmin_tags %}

{% block main-content %}
    {% block page-cover %}
        <header class="{% block page-cover-cssclass %}page-cover{% endblock %}{% cradmin_test_css_class 'page-cover' %}">
            {% block pageheader-inner %}  {# NOTE: pageheader-inner is deprecated - use page-cover-content #}
                {% block page-cover-content %}
                    <h1 class="page-cover__title{% cradmin_test_css_class 'primary-h1' %}">
                        {% block page-cover-title %}{% endblock page-cover-title %}
                    </h1>
                {% endblock page-cover-content %}
            {% endblock pageheader-inner %}
        </header>
    {% endblock page-cover %}

    {% block contentwrapper %}
        <section class="{% block contentwrapper-class %}
                container
                {% block contentwrapper-class-modifier %}{% endblock %}{% endblock %}
                {% cradmin_test_css_class 'page-content' %}">
            {% block content %}{% endblock content %}
        </section>
    {% endblock contentwrapper %}
{% endblock main-content %}
