/* AdminUI breadcrumb

The basic components of a breadcrumb is:

```
.adminui-breadcrumbs  (the outer wrapper)
    .adminui-breadcrumbs__content   (wrapper around the content)
        .adminui-breadcrumbs__item   (an item in the breadcrumb)
```

Example: {type: isolated} With brand

    <nav class="adminui-breadcrumbs">
        <div class="adminui-breadcrumbs__content">
            <a class="adminui-breadcrumbs__item">
                First
            </a>
            <span class="adminui-breadcrumbs__separator"></span>
            <a class="adminui-breadcrumbs__item">
                Second
            </a>
            <span class="adminui-breadcrumbs__separator"></span>
            <a class="adminui-breadcrumbs__item">
                Last
            </a>
        </div>
    </nav>

Styleguide components.adminui.adminui-breadcrumbs
*/
.adminui-breadcrumbs {
    position: relative;
    @include font-size(xsmall);
    padding: $vertical-rythm 0;
    color: $color-text;
    background-color: $color-light;
    box-shadow: 0 $border-width 0 rgba(color(neutral), 0.15);

    &__content {
        @extend .container;
        @extend .container--wide;
    }

    &__item {
        color: inherit;
        border-color: transparent;
    }
    &__separator {
        @extend %icon-chevron-right;
        vertical-align: middle;
        margin: -2px $unit 0;
        transform: scale(0.7);
    }
}
