/* Date and time input


Example:

    <div class="datetimeinput">
        <div class="datetimeinput__date">
            <label class="select select--outlined">
                <select>
                    <option value="0">Day</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <!-- options for the rest of the days of a month -->
                </select>
            </label>
            <label class="select select--outlined">
                <select>
                    <option value="0">Month</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <!-- options for the rest of the months -->
                </select>
            </label>
            <label class="select select--outlined">
                <select>
                    <option value="0">Year</option>
                    <option value="1">2015</option>
                    <option value="1">2016</option>
                    <option value="1">2017</option>
                    <option value="1">2018</option>
                    <option value="1">2019</option>
                    <option value="1">2020</option>
                    <!-- options for more years -->
                </select>
            </label>
        </div>
        <div class="datetimeinput__time">
            Time:
            <input class="input input--outlined input--inline-xxsmall"
                placeholder="Hour">
            <input class="input input--outlined input--inline-xxsmall"
                placeholder="Minute">
        </div>
    </div>


Styleguide components.datetimeinput
*/

.datetimeinput {
    margin-bottom: $unit;

    &__date {
        margin-bottom: $unit;
    }
    //&__time {
    //}
}
