/* Dropdown

Example: {type: isolated}

    <div class="container">
        <input type="text" class="input input--outlined">
        <div class="dropdown">
            <div class="dropdown__content">
                Floating content here.
            </div>
        </div>
        <p>
            Just some text to ensure it is floating!
            Aenean lacinia bibendum nulla sed consectetur. Cras justo odio,
            dapibus ac facilisis in, egestas eget quam. Vivamus sagittis
            lacus vel augue laoreet rutrum faucibus dolor auctor. Donec
            id elit non mi porta gravida at eget metus. Morbi leo
            risus, porta ac consectetur ac, vestibulum at eros.
            Vestibulum id ligula porta felis euismod semper.
            Donec id elit non mi porta gravida at eget metus.
        </p>
    </div>

Styleguide components.dropdown
*/
.dropdown {
    position: relative;
    overflow: visible;
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: $color-light;
        //border: 10px solid green;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }
}
