/* Form field wrapper

NOTE: Not sure about combining formfield variants and "alerts" of different variants.

Example: Basics

    <div class="formfield">
        <label class="label">
            Standard input
            <input type="text" placeholder="I set the standard" class="input" />
        </label>
        <p class="formfield__help-text">
            Vestibulum id ligula porta felis euismod semper.
            Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
    </div>

    <div class="formfield">
        <label class="label">
            Standard input
            <input type="text" placeholder="I set the standard" class="input" />
        </label>
    </div>

    <div class="formfield">
        <label class="label">
            I'm a textarea
            <textarea placeholder="I more got space!" class="input"></textarea>
        </label>
        <p class="formfield__help-text">
            Donec sed odio dui.
        </p>
    </div>

Example: More advanced fields

    <div class="formfield">
        <fieldset class="fieldset">
            <legend class="legend">Are you good?</legend>
            <label class="radio  radio--block">
                <input type="radio" />
                <span class="radio__control-indicator"></span>
                Yes
            </label>
            <label class="radio  radio--block">
                <input type="radio" />
                <span class="radio__control-indicator"></span>
                No
            </label>
            <label class="radio  radio--block">
                <input type="radio" />
                <span class="radio__control-indicator"></span>
                Maybe
            </label>
            <p class="formfield__help-text">
                Donec sed odio dui.
            </p>
        </fieldset>
    </div>

    <div class="formfield">
        <fieldset class="fieldset">
            <legend class="legend">Which of these statements are true?</legend>
            <label class="checkbox  checkbox--block">
                <input type="checkbox" />
                <span class="checkbox__control-indicator"></span>
                CSS is better than SASS
            </label>
            <label class="checkbox  checkbox--block">
                <input type="checkbox" />
                <span class="checkbox__control-indicator"></span>
                SASS is a superset of CSS
            </label>
            <label class="checkbox  checkbox--block">
                <input type="checkbox" />
                <span class="checkbox__control-indicator"></span>
                SASS is a programming language
            </label>
            <p class="formfield__help-text">
                Donec sed odio dui.
            </p>
        </fieldset>
    </div>

    <div class="formfield">
        <fieldset class="fieldset">
            <legend class="legend">Are you good?</legend>
            <label class="select">
                <select aria-label="Kategori">
                    <option>Yes</option>
                    <option>No</option>
                    <option>Maybe</option>
                </select>
            </label>
            <p class="formfield__help-text">
                Donec sed odio dui.
            </p>
        </fieldset>
    </div>

Example: Warning and success messages
    <div class="formfield">
        <label class="label">
            Standard input
            <input type="text" placeholder="I set the standard" class="input" />
        </label>
        <p class="formfield__help-text">
            Donec sed odio dui.
        </p>
        <p class="SOMETHING--warning">
            I am a warning
        </p>
        <p class="SOMETHING--success">
            I am a success message
        </p>
    </div>
    <div class="formfield">
        <label class="label">
            Standard input
            <input type="text" placeholder="I set the standard" class="input" />
        </label>
        <p class="SOMETHING--success">
            I am a success message
        </p>
    </div>

Example: Warning and success variants
    <div class="formfield  formfield--warning">
        <label class="label">
            Standard input
            <input type="text" placeholder="I set the standard" class="input" />
        </label>
        <p class="formfield__help-text">
            Donec sed odio dui.
        </p>
    </div>
    <div class="formfield  formfield--success">
        <label class="label">
            Standard input
            <input type="text" placeholder="I set the standard" class="input" />
        </label>
        <p class="formfield__help-text">
            Donec sed odio dui.
        </p>
    </div>

Styleguide components.formfield
*/
