/* Tabs

http://simplyaccessible.com/article/danger-aria-tabs/

Example: {type: isolated} Simple example

    <nav class="tabs__tab-list">
        <a class="tabs__tab  tabs__tab--active"
           href="#ipa"
           id="tab-ipa"
           data-ievv-jsbase-widget="cradmin-tab-button">
            India Pale Ale (IPA)
        </a>
        <a class="tabs__tab"
           href="#gueuze"
           id="tab-gueuze"
           data-ievv-jsbase-widget="cradmin-tab-button">
            Gueuze
        </a>
        <a class="tabs__tab"
           href="#imperial-stout"
           id="tab-imperial-stout"
           data-ievv-jsbase-widget="cradmin-tab-button">
            Imperial Stout
        </a>
    </nav>

    <div class="tabs__panel"
             id="ipa"
             data-ievv-jsbase-widget="cradmin-tab-panel">
        <div class="container">
            <h2>India Pale Ale (IPA)</h2>
            ...
        </div>
    </div>
    <div class="tabs__panel"
             id="gueuze"
             data-ievv-jsbase-widget="cradmin-tab-panel">
        <div class="container">
            <h2>Gueuze</h2>
            ...
        </div>
    </div>
    <div class="tabs__panel"
             id="imperial-stout"
             data-ievv-jsbase-widget="cradmin-tab-panel">
        <div class="container">
            <h2>Imperial Stout</h2>
            ...
        </div>
    </div>


Example: {type: isolated} Styling using sections

    <div class="adminui-page-section">
        <div class="container">
            <nav class="tabs__tab-list">
                <a class="tabs__tab  tabs__tab--active"
                   href="#ipa"
                   id="tab-ipa"
                   data-ievv-jsbase-widget="cradmin-tab-button">
                    India Pale Ale (IPA)
                </a>
                <a class="tabs__tab"
                   href="#gueuze"
                   id="tab-gueuze"
                   data-ievv-jsbase-widget="cradmin-tab-button">
                    Gueuze
                </a>
                <a class="tabs__tab"
                   href="#imperial-stout"
                   id="tab-imperial-stout"
                   data-ievv-jsbase-widget="cradmin-tab-button">
                    Imperial Stout
                </a>
            </nav>
        </div>
    </div>

    <section class="adminui-page-section  tabs__panel"
             id="ipa"
             data-ievv-jsbase-widget="cradmin-tab-panel">
        <div class="container">
            <h2>India Pale Ale (IPA)</h2>
            ...
        </div>
    </section>
    <section class="adminui-page-section  tabs__panel"
             id="gueuze"
             data-ievv-jsbase-widget="cradmin-tab-panel">
        <div class="container">
            <h2>Gueuze</h2>
            ...
        </div>
    </section>
    <section class="adminui-page-section  tabs__panel"
             id="imperial-stout"
             data-ievv-jsbase-widget="cradmin-tab-panel">
        <div class="container">
            <h2>Imperial Stout</h2>
            ...
        </div>
    </section>

Styleguide components.tabs
*/

.tabs {
    &__tab-list {
        display: flex;
        border-bottom: $border-width solid color(primary, dark);
    }

    &__tab {
        display: block;
        text-align: center;
        flex-grow: 1;
        padding: $spacing--small;
        border: 0;

        &:hover,
        &:focus,
        &:active,
        &--active {
            background-color: color(primary, dark);
            color: color-contrast(color(primary, dark));
        }
    }

    &__panel {
        display: none;

        &--active {
            display: block;
        }
    }
}
