/* Tabs

http://simplyaccessible.com/article/danger-aria-tabs/

Example: {type: isolated} Structure

    <div cradmin_tabs>
        <nav class="tabs__tab-list">
            <a class="tabs__tab  tabs__tab--active"
                    href="#ipa"
                    id="tab-ipa"
                    cradmin_tabs_tab
                    aria-selected="true">
                India Pale Ale (IPA)
            </a>
            <a class="tabs__tab"
                    href="#gueuze"
                    id="tab-gueuze"
                    cradmin_tabs_tab
                    aria-selected="false">
                Gueuze
            </a>
            <a class="tabs__tab"
                    href="#imperial-stout"
                    id="tab-imperial-stout"
                    cradmin_tabs_tab
                    aria-selected="false">
                Imperial Stout
            </a>
        </nav>

        <div class="tabs__panel  tabs__panel--active"
                aria-hidden="false" aria-labelledby="tab-ipa"
                id="ipa"
                cradmin_tabs_panel>
            <h2>India Pale Ale (IPA)</h2>
            ...
        </div>
        <div class="tabs__panel"
                aria-hidden="true"
                aria-labelledby="tab-gueuze"
                id="gueuze"
                cradmin_tabs_panel>
            <h2>Gueuze</h2>
            ...
        </div>
        <div class="tabs__panel"
                aria-hidden="true" aria-labelledby="tab-imperial-stout"
                id="imperial-stout"
                cradmin_tabs_panel>
            <h2>Imperial Stout</h2>
            ...
        </div>
    </div>


Styleguide components.tabs
*/

.tabs {
    &__tab-list {
        display: flex;
        border-bottom: $border-width solid color(primary, dark);
        //@extend .container;
        //@extend .container--tight;
    }

    &__tab {
        display: block;
        text-align: center;
        flex-grow: 1;
        padding: $spacing--small;
        border: none;

        &:hover,
        &:focus,
        &:active,
        &--active {
            background-color: color(primary, dark);
            color: color-contrast(color(primary, dark));
        }
    }

    &__panel {
        display: none;
        &--active {
            display: block;
        }
    }
}
