/*
Clearfix

Usage:
`.clearfix`

Or for extending:
Use `@extend %clearfix`

Styleguide 2.1
*/

.clearfix,
%clearfix {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::after {
        clear: both;
    }
}
