.django-cradmin-multiselect2-columnlayout {
  display: flex;
  flex-direction: column;
  @media(min-width: @cradmin-multiselect2-stacked-breakpoint) {
    flex-direction: row;
  }

  .django-cradmin-multiselect2-separatorcolumn {
    padding: 10px;
    margin: @cradmin-multiselect2-columnspacing 0 @cradmin-multiselect2-columnspacing 0;
    background: @cradmin-multiselect2-separatorcolumn-bg;
    border-style: solid;
    border-width: @cradmin-multiselect2-separatorcolumn-borderwidth 0 @cradmin-multiselect2-separatorcolumn-borderwidth 0;
    border-color: @cradmin-multiselect2-separatorcolumn-bordercolor;
    text-align: center;

    .django-cradmin-multiselect2-separatorcolumn-iconwrapper {
      color: @cradmin-multiselect2-separatorcolumn-color;
      .css3-transform(rotate(90deg));
      &:first-child {
        display: none;
      }
      &:last-child {
        display: none;
      }
    }

    @media(min-width: @cradmin-multiselect2-stacked-breakpoint) {
      flex-direction: column;
      justify-content: space-between;
      display: flex;
      align-self: stretch;
      text-align: center;
      padding: 20px 0 20px 0;
      margin: 0 @cradmin-multiselect2-columnspacing 0 @cradmin-multiselect2-columnspacing;
      width: @cradmin-multiselect2-separatorcolumn-width;
      border-width: 0 @cradmin-multiselect2-separatorcolumn-borderwidth 0 @cradmin-multiselect2-separatorcolumn-borderwidth;

      .django-cradmin-multiselect2-separatorcolumn-iconwrapper {
        .css3-transform(none);
        &:first-child {
          display: block;
        }
        &:last-child {
          display: block;
        }
      }
    }

  }

  &.django-cradmin-multiselect2-columnlayout-2 {
    .django-cradmin-multiselect2-listcolumn {
      flex: 1;
    }
    .django-cradmin-multiselect2-targetcolumn {
      flex: 1;
    }
  }
  &.django-cradmin-multiselect2-columnlayout-3 {
    .django-cradmin-multiselect2-filtercolumn {
      flex: 2;
      margin-right: @cradmin-multiselect2-columnspacing;
    }
    .django-cradmin-multiselect2-listcolumn {
      flex: 4;
    }
    .django-cradmin-multiselect2-targetcolumn {
      flex: 4;
    }
  }
}
