{% extends "django_cradmin/viewhelpers/listbuilder/base/itemvalue.django.html" %}
{% load cradmin_tags %}

{% block content %}
    {% block start-of-content %}{% endblock start-of-content %}

    {% block title %}
        <h2 class="django-cradmin-multiselect2-itemvalue-title">
            {% block title-content %}
                {{ me.get_title }}
            {% endblock title-content %}
        </h2>
    {% endblock title %}
    {% block below-title %}{% endblock below-title %}

    {% block description %}
        {% if me.get_description %}
            <p class="django-cradmin-multiselect2-itemvalue-description">
                {% block description-content %}
                    {{ me.get_description }}
                {% endblock description-content %}
            </p>
        {% endif %}
    {% endblock description %}
    {% block below-description %}{% endblock below-description %}


    {% block buttons %}
        <p class="django-cradmin-multiselect2-itemvalue-buttons">
            {% block select-button %}
                <button type="button"
                        id="{{ me.get_selectbutton_dom_id }}"
                        class="btn btn-default django-cradmin-multiselect2-itemvalue-default-button"
                        django-cradmin-multiselect2-select={{ select_directive_json|safe }}
                        aria-label='{{ me.get_selectbutton_aria_label }}'>
                    {% block usethis-button-content %}
                        {{ me.get_selectbutton_text }}
                    {% endblock usethis-button-content %}
                </button>
            {% endblock select-button %}
        </p>
    {% endblock buttons %}

    {% block preview-wrapper %}
        <div class="django-cradmin-multiselect2-preview">
            {% block preview-title %}
                <h3 class="django-cradmin-multiselect2-target-selected-item-title">
                    {{ me.get_preview_title }}
                </h3>
            {% endblock preview-title %}
            {% block below-preview-title %}{% endblock below-preview-title %}

            {% block preview-description %}
                {% if me.get_description %}
                    <p class="django-cradmin-multiselect2-target-selected-item-description">
                        {% block preview-description-content %}
                            {{ me.get_description }}
                        {% endblock preview-description-content %}
                    </p>
                {% endif %}
            {% endblock preview-description %}
            {% block below-preview-description %}{% endblock below-preview-description %}

            {% block input-field %}
                <input type="hidden" name="{{ me.get_inputfield_name }}"
                       value="{{ me.get_inputfield_value }}">
            {% endblock input-field %}

            {% block deselect-button %}
                <button type="button"
                        class="btn btn-danger"
                        aria-label='{{ me.get_deselectbutton_aria_label }}'
                        ng-click="deselect()">
                    {% block deselect-button-content %}
                        {{ me.get_deselectbutton_text }}
                    {% endblock deselect-button-content %}
                </button>
            {% endblock deselect-button %}
        </div>
    {% endblock preview-wrapper %}
{% endblock content %}
