{% extends "django_cradmin/base.django.html" %}
{% load static %}
{% load i18n %}
{% load cradmin_tags %}


{% block title %}
    {% trans "Public share link" %}
{% endblock title %}

{% block pageheader-inner %}
    {% if generictoken %}
        <h1>
            {% trans "Sharable link" %}
        </h1>
        <p>
            Anyone with the link can add themself as administrator for the site.
            This is just a demo for a public sharing workflow. You SHOULD NOT use this to invite admins in production!
        </p>
    {% else %}
        <h1>
            {% trans "Get sharable link" %}
        </h1>
    {% endif %}
{% endblock pageheader-inner %}

{% block content %}
    <div class="container django-cradmin-container-focus">
        {% if generictoken %}
            <h2>{% trans "Share" %}</h2>
            <p>
                {% trans "Share the link below with anyone you want to make an administrator for this site." %}
                <input type="text" class="form-control"
                       value="{{ url }}"
                       django-cradmin-select-text-for-copy-on-focus="{{ url }}">
            </p>

            <h2>{% trans "Details" %}</h2>
            <dl>
                <dt>{% trans "Expires" %}</dt>
                {% if generictoken.expiration_datetime %}
                    <dd>{{ generictoken.expiration_datetime|date:"DATETIME_FORMAT" }}</dd>
                {% else %}
                    <dd class="text-muted">{% trans "Never" %}</dd>
                {% endif %}
                <dt>{% trans "Message" %}</dt>
                {% if generictoken.metadata.message %}
                    <dd style="white-space: pre-wrap;">{{ generictoken.metadata.message }}</dd>
                {% else %}
                    <dd class="text-muted">{% trans "(None)" %}</dd>
                {% endif %}
            </dl>

            <h2>{% trans "Edit" %}</h2>
            <p>
                <a href="{% cradmin_appurl 'edit' %}" class="btn btn-default">
                    {% trans "Edit" %}
                </a>
                <a href="{% cradmin_appurl 'delete' generictoken.pk %}" class="btn btn-danger">
                    {% trans "Disable" %}
                </a>
            </p>
        {% else %}
            <p>
                Click the button below to create a sharable link that enables anyone with
                the link to add themselves as administrator for this site.
            </p>
            <a href="{% cradmin_appurl 'edit' %}" class="btn btn-success btn-lg">
                {% trans "Get sharable link" %}
            </a>
        {% endif %}
    </div>
{% endblock content %}
