{% extends "django_cradmin/standalone-base.django.html" %}
{% load static %}

{% block title %}
    Data list widgets demo
{% endblock title %}

{% block page-cover-title %}
    Data list widgets demo
{% endblock page-cover-title %}


{% block content %}

    <div class="adminui-page-section">
        <div class="container">
            <h2>ForeignKey select</h2>
            <div data-ievv-jsbase-widget="cradmin-api-data-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "foreignkey",
                     "apiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}",
                     "minimumSearchStringLength": 0,
                     "multiselect": false
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-signal-router"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "foreignkey",
                     "signalMap": {
                        "SearchDownKey": ["ShowPopup", "FocusOnFirstSelectableItem"],
                        "SearchValueChangeNotEmpty": ["ShowPopup"],
                        "SearchEnterKey": ["ShowPopup"],
                        "SearchEscapeKey": ["HidePopup"],
                        "SelectableItemEscapeKey": ["HidePopup", "FocusOnSearchField"],
                        "LoadMoreEscapeKey": ["HidePopup", "FocusOnSearchField"],
                        "SearchValueChangeEmpty": ["HidePopup"],
                        "LostFocus": ["HidePopup"],
                        "FocusBeforeFirstSelectableItem": ["FocusOnSearchField"],
                        "FocusAfterLastSelectableItem": ["FocusOnLoadMoreButton"],
                        "SelectItem": ["FocusOnLastSelectedItem", "HidePopup", "ClearSearchField"],
                        "CouldNotFocusOnClosestSelectedItem": ["FocusOnSearchField"],
                        "LoadMore": ["FocusOnLastSelectableItem"],
                        "LoadMoreUpKey": ["FocusOnLastSelectableItem"]
                     }
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-selected-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "foreignkey"
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "foreignkey",
                     "showStates": ["HasNoSelectedItems"]
                 }'>
                <div data-ievv-jsbase-widget="cradmin-search-input"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "foreignkey"
                     }'></div>
                <div class="dropdown">
                    <div class="dropdown__content"
                         style="display: none"
                         data-ievv-jsbase-widget="cradmin-popup"
                         data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "foreignkey"
                         }'>
                        <div data-ievv-jsbase-widget="cradmin-selectable-list"
                             data-ievv-jsbase-widget-config='{
                                 "signalNameSpace": "foreignkey",
                                 "renderSelected": false,
                                 "useHotKeys": true,
                                 "itemComponentProps": {
                                    "disableTabNavigation": true,
                                    "useHotKeys": true
                                 }
                             }'></div>
                        <div data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                             style="display: none"
                             class="text-center"
                             data-ievv-jsbase-widget-config='{
                                 "signalNameSpace": "foreignkey",
                                 "showStates": ["HasNextPage"],
                                 "hideStates": ["IsLoading"]
                             }'>
                            <span data-ievv-jsbase-widget="cradmin-load-more-button"
                                  data-ievv-jsbase-widget-config='{
                                      "signalNameSpace": "foreignkey",
                                      "label": "Last flere",
                                      "useHotKeys": true,
                                      "disableTabNavigation": true
                                  }'></span>
                        </div>
                        <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                           style="display: none"
                           data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "foreignkey",
                             "showStates": ["IsLoading"]
                         }'>
                            Loading...
                        </p>
                        <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                           style="display: none"
                           data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "foreignkey",
                             "showStates": ["FilteredIsEmpty"],
                             "hideStates": ["IsLoading"]
                         }'>
                            No matches!
                        </p>
                    </div>
                </div>
            </div>
            <span data-ievv-jsbase-widget="cradmin-hidden-input-list"
                 data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "foreignkey",
                             "inputName": "theforeignkey",
                             "inputType": "hidden"}'></span>
        </div>
    </div>

    <div class="adminui-page-section">
        <div class="container">
            <h2>Many-to-many select</h2>
            <div data-ievv-jsbase-widget="cradmin-api-data-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "manytomany",
                     "apiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}",
                     "minimumSearchStringLength": 0,
                     "multiselect": true
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-signal-router"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "manytomany",
                     "signalMap": {
                        "SearchDownKey": ["ShowPopup", "FocusOnFirstSelectableItem"],
                        "SearchValueChangeNotEmpty": ["ShowPopup"],
                        "SearchEnterKey": ["ShowPopup"],
                        "SearchEscapeKey": ["HidePopup"],
                        "SelectableItemEscapeKey": ["HidePopup", "FocusOnSearchField"],
                        "LoadMoreEscapeKey": ["HidePopup", "FocusOnSearchField"],
                        "SearchValueChangeEmpty": ["HidePopup"],
                        "LostFocus": ["HidePopup"],
                        "FocusBeforeFirstSelectableItem": ["FocusOnSearchField"],
                        "FocusAfterLastSelectableItem": ["FocusOnLoadMoreButton"],
                        "CouldNotFocusOnClosestSelectedItem": ["FocusOnSearchField"],
                        "CouldNotFocusOnClosestSelectableItem": ["FocusOnSearchField"],
                        "LoadMore": ["FocusOnLastSelectableItem"],
                        "LoadMoreUpKey": ["FocusOnLastSelectableItem"]
                     }
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-selected-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "manytomany"
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-search-input"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "manytomany"
                 }'></div>
            <div class="dropdown">
                <div class="dropdown__content"
                     style="display: none"
                     data-ievv-jsbase-widget="cradmin-popup"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "manytomany"
                     }'>
                    <div data-ievv-jsbase-widget="cradmin-selectable-list"
                         data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "manytomany",
                             "renderSelected": false,
                             "useHotKeys": true,
                             "itemComponentProps": {
                                "disableTabNavigation": true,
                                "useHotKeys": true
                             }
                         }'></div>
                    <div data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                         style="display: none"
                         class="text-center"
                         data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "manytomany",
                             "showStates": ["HasNextPage"],
                             "hideStates": ["IsLoading"]
                         }'>
                        <span data-ievv-jsbase-widget="cradmin-load-more-button"
                              data-ievv-jsbase-widget-config='{
                                  "signalNameSpace": "manytomany",
                                  "label": "Last flere",
                                  "useHotKeys": true,
                                  "disableTabNavigation": true
                              }'></span>
                    </div>
                    <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                       style="display: none"
                       data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "manytomany",
                         "showStates": ["IsLoading"]
                     }'>
                        Loading...
                    </p>
                    <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                       style="display: none"
                       data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "manytomany",
                         "showStates": ["FilteredIsEmpty"],
                         "hideStates": ["IsLoading"]
                     }'>
                        No matches!
                    </p>
                </div>
            </div>
            <span data-ievv-jsbase-widget="cradmin-hidden-input-list"
                 data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "manytomany",
                             "inputName": "themanytomany",
                             "inputType": "hidden"}'></span>
        </div>
    </div>

    <div class="adminui-page-section">
        <div class="container">
            <h2>Many-to-many select modal</h2>
            <div data-ievv-jsbase-widget="cradmin-api-data-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "manytomany-modal",
                     "apiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}",
                     "multiselect": true
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-signal-router"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "manytomany-modal",
                     "signalMap": {
                        "SearchDownKey": ["FocusOnFirstSelectableItem"],
                        "FocusBeforeFirstSelectableItem": ["FocusOnSearchField"],
                        "SelectItem": ["ClearSearchField", "FocusOnSearchField"],
                        "CouldNotFocusOnClosestSelectedItem": ["FocusOnSearchField"],
                        "ShowPopup": ["FocusOnSearchField"]
                     }
                 }'>
            </div>

            <div data-ievv-jsbase-widget="cradmin-selected-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "manytomany-modal"
                 }'>
            </div>
            <button type="button" class="button"
                    data-ievv-jsbase-widget="cradmin-show-popup"
                    data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "manytomany-modal"}'>
                Select ...
            </button>

            <div style="display: none" class="modal modal--wide"
                 data-ievv-jsbase-widget="cradmin-popup"
                 data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "manytomany-modal"}'>
                <div class="modal__backdrop"
                     data-ievv-jsbase-widget="cradmin-hide-popup"
                     data-ievv-jsbase-widget-config='{
                                    "signalNameSpace": "manytomany-modal"}'></div>
                <div class="modal__content">
                    <div class="modal__close">
                        <button type="button" aria-title="Close"
                                data-ievv-jsbase-widget="cradmin-hide-popup"
                                data-ievv-jsbase-widget-config='{
                                    "signalNameSpace": "manytomany-modal"}'>
                            <i class="icon-close"></i>
                        </button>
                    </div>
                    <div data-ievv-jsbase-widget="cradmin-selected-list"
                         data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "manytomany-modal",
                             "itemComponentProps": {
                                "renderMode": "TitleOnly"
                             }
                         }'>
                    </div>
                    <div data-ievv-jsbase-widget="cradmin-search-input"
                         data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "manytomany-modal"
                         }'></div>

                    <div data-ievv-jsbase-widget="cradmin-selectable-list"
                         data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "manytomany-modal",
                             "renderSelected": false,
                             "itemComponentProps": {
                                "disableTabNavigation": true,
                                "focusClosestSiblingOnSelect": false,
                                "useHotKeys": true
                             }
                         }'></div>

                    <div class="text-center">
                        <button type="button" class="button"
                                data-ievv-jsbase-widget="cradmin-hide-popup"
                                data-ievv-jsbase-widget-config='{
                                    "signalNameSpace": "manytomany-modal"}'>
                            Ok
                        </button>
                    </div>
                </div>
            </div>
            <span data-ievv-jsbase-widget="cradmin-hidden-input-list"
                 data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "manytomany-modal",
                             "inputName": "themanytomany_from_modal",
                             "inputType": "hidden"}'></span>
        </div>
    </div>

    <div class="adminui-page-section">
        <div class="container">
            <h2>Client side data</h2>
            <div data-ievv-jsbase-widget="cradmin-search-input"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "statictest"
                 }'></div>
            <div data-ievv-jsbase-widget="cradmin-static-data-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "statictest",
                     "selectedKeys": [2],
                     "dataList": [
                         {
                             "id": 1,
                             "title": "John",
                             "description": "The John"
                         },
                         {
                             "id": 2,
                             "title": "Peter",
                             "description": "Peter is coool"
                         },
                         {
                             "id": 3,
                             "title": "No description"
                         },
                         {
                             "id": 4,
                             "title": "Jane",
                             "description": "Jane is awesome, but she no longer likes Tarzan"
                         }
                     ]
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-selectable-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "statictest",
                     "itemComponentProps": {
                        "renderIcon": true
                     }
                 }'>
            </div>
        </div>
    </div>

    <div class="adminui-page-section">
        <div class="container">
            <h2>Fancy</h2>
            <div data-ievv-jsbase-widget="cradmin-api-data-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "multiselect": true,
                     "selectedKeys": [1],
                     "apiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}",
                     "filters": {
                        "is_godlike": "true"
                     }
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-signal-router"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "signalMap": {
                        "SearchDownKey": ["FocusOnFirstSelectableItem"],
                        "FocusBeforeFirstSelectableItem": ["FocusOnSearchField"],
                        "CouldNotFocusOnClosestSelectedItem": ["FocusOnSearchField"],
                        "CouldNotFocusOnClosestSelectableItem": ["FocusOnSearchField"],
                        "LoadMoreButtonClick": ["FocusOnLastSelectableItem"]
                     }
                 }'>
            </div>
            <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
               data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["IsInitializingDataList"]
                 }'>
                Loading
            </p>
            <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
               style="display: none"
               data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["UnfilteredIsEmpty"]
                 }'>
                Empty dataset!
            </p>
            <span data-ievv-jsbase-widget="cradmin-hidden-input-list"
               data-ievv-jsbase-widget-config='{
                 "signalNameSpace": "apitest",
                 "inputName": "apitest"
             }'>
                {% comment %}
                    You can pre-render the hidden fields here to avoid
                    problems when users submit the form before the javascript
                    has finished loading.
                {% endcomment %}
            </span>

            <div data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                 style="display: none"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["IsNotInitializingDataList"],
                     "hideStates": ["UnfilteredIsEmpty"]
                 }'>
                <div data-ievv-jsbase-widget="cradmin-filter-checkbox"
                     data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "filterKey": "is_godlike",
                     "label": "Is godlike?"
                 }'>
                </div>
                <div data-ievv-jsbase-widget="cradmin-selected-list"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "apitest",
                         "itemComponentProps": {
                            "renderMode": "TitleAndDescription"
                         }
                     }'>
                </div>
                <div data-ievv-jsbase-widget="cradmin-search-input"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "apitest"
                     }'></div>
                <div data-ievv-jsbase-widget="cradmin-selectable-list"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "apitest",
                         "renderSelected": false,
                         "itemComponentProps": {
                             "renderMode": "TitleAndDescription",
                             "useHotKeys": true
                         }
                     }'>
                </div>
                <div data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                     style="display: none"
                     class="text-center"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "apitest",
                         "showStates": ["HasNextPage"],
                         "hideStates": ["IsLoading"]
                     }'>
                    <span data-ievv-jsbase-widget="cradmin-load-more-button"
                          data-ievv-jsbase-widget-config='{
                              "signalNameSpace": "apitest",
                              "label": "Load more"
                          }'></span>

                </div>
                <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                   style="display: none"
                   data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["IsLoading"]
                 }'>
                    Loading...
                </p>
                <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                   style="display: none"
                   data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["FilteredIsEmpty"],
                     "hideStates": ["IsLoading"]
                 }'>
                    No matches!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
