{% extends "django_cradmin/standalone-base.django.html" %}
{% load static %}

{% block title %}
    Datetime picker demo
{% endblock title %}

{% block page-cover-title %}
    Datetime picker demo
{% endblock page-cover-title %}


{% block content %}
    <div class="adminui-page-section">
        <div class="container">
            <h2>Date example</h2>

            <div data-ievv-jsbase-widget="cradmin-dateselector"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "mydatefield",
                     "resultFieldProps": {
                        "inputType": "text"
                     }
                 }'></div>
        </div>
    </div>

    <div class="adminui-page-section">
        <div class="container">
            <h2>Datetime example</h2>

            <div data-ievv-jsbase-widget="cradmin-dateselector"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "mydatetimefield",
                     "includeTime": true,
                     "resultFieldProps": {
                        "inputType": "text"
                     }
                 }'></div>
        </div>
    </div>
{% endblock content %}
