{% extends "django_cradmin/standalone-base.django.html" %}
{% load static %}

{% block title %}
    Select demo
{% endblock title %}

{% block page-cover-title %}
    Select demo
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
{% endblock page-cover-content %}


{% block content %}
    <div class="adminui-page-section">
        <div class="container">
            <div id="test">
                <p id="id_loading">
                    <em>Loading ...</em>
                </p>
                <p id="id_no_result_wrapper" style="display: none;">
                    Please select a value
                </p>
                <p id="id_has_result_wrapper" style="display: none;">
                    <strong id="id_title"></strong>
                    <small id="id_description"></small>
                </p>
            </div>

            <button type="button" class="button"
                    aria-labelledby="test"
                    data-ievv-jsbase-widget="cradmin-select-modal" data-ievv-jsbase-widget-config='{
                        "valueTargetInputId": "id_value_target",
                        "toggleElementsOnValueChange": {
                            "loading": ["id_loading"],
                            "hasValue": ["id_has_result_wrapper"],
                            "noValue": ["id_no_result_wrapper"]
                        },
                        "updateElementsWithResult": {
                            "title": ["id_title"],
                            "description": ["id_description"]
                        },
                        "valueAttribute": "id",
                        "clientsideData": [
                            {
                                "id": 1,
                                "title": "John",
                                "description": "The John"
                            },
                            {
                                "id": 2,
                                "title": "Peter",
                                "description": "Peter is coool"
                            },
                            {
                                "id": 3,
                                "title": "No description"
                            },
                            {
                                "id": 4,
                                "title": "Jane",
                                "description": "Jane is awesome, but she no longer likes Tarzan"
                            }
                        ],
                        "clientsideSearchAttributes": ["title", "description"],
                        "ui": {
                            "modal": {
                                "cssClass": "modal modal--wide"
                            },
                            "search": {
                                "placeholder": "Søk...",
                                "changeDelay": 200
                            },
                            "resultList": {
                                "className": "blocklist blocklist--tight"
                            },
                            "result": {
                                "titleClassName": "blocklist__itemtitle blocklist__itemtitle--small"
                            }
                        }
                    }'>
                Open select dialog
            </button>
            <input type="text" id="id_value_target" class="input" />
        </div>
    </div>
{% endblock content %}
