{% extends "django_cradmin/standalone-base.django.html" %}
{% load static %}

{% block title %}
    Select demo
{% endblock title %}

{% block page-cover-title %}
    Select demo
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
{% endblock page-cover-content %}


{% block content %}
    <div class="adminui-page-section">
        <div class="container">
            <div id="test">
                <div id="id_no_result_wrapper">
                    Please select a value
                </div>
                <div id="id_result_wrapper">
                    <h3 id="id_title"></h3>
                    <p id="id_description"></p>
                </div>
            </div>
            <input type="text" id="id_value_target" class="input" />

            <button type="button" class="button"
                    aria-labelledby="test"
                    data-ievv-jsbase-widget="cradmin-select-modal" data-ievv-jsbase-widget-config='{
                        "valueTargetInputId": "id_value_target",
                        "titlePreviewId": "id_title",
                        "descriptionPreviewId": "id_description",
                        "noValueWrapperId": "id_result_wrapper",
                        "hasValueWrapperId": "id_no_result_wrapper",
                        "result": {
                            "valueAttribute": "value",
                            "clientsideData": [
                                {
                                    "value": 1,
                                    "title": "John",
                                    "description": "The John",
                                    "imageSrc": null
                                },
                                {
                                    "value": 2,
                                    "title": "Peter",
                                    "description": "Peter is coool"
                                },
                                {
                                    "value": 3,
                                    "title": "Jane",
                                    "description": "Jane is awesome, but she no longer likes Tarzan"
                                }
                            ],
                            "clientsideSearchAttributes": ["title", "description"]
                        },
                        "search": {
                            "placeholder": "Søk...",
                            "changeDelay": 200
                        },
                        "modalCssClass": "modal modal--wide"
                    }'>
                Open select dialog
            </button>
        </div>
    </div>
{% endblock content %}
