{% extends "django_cradmin/standalone-base.django.html" %}
{% load static %}

{% block title %}
    Select demo
{% endblock title %}

{% block page-cover-title %}
    Select demo
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
{% endblock page-cover-content %}


{% block content %}
{#    <div class="adminui-page-section">#}
{#        <div class="container">#}
{#            <h2>Pure client side example</h2>#}
{#            <div id="id_clientside_aria_label">#}
{#                <p id="id_clientside_loading">#}
{#                    <em>Loading ...</em>#}
{#                </p>#}
{#                <p id="id_clientside_no_result_wrapper" style="display: none;">#}
{#                    Please select a value#}
{#                </p>#}
{#                <p id="id_clientside_has_result_wrapper" style="display: none;">#}
{#                    <strong id="id_clientside_title"></strong>#}
{#                    <small id="id_clientside_description"></small>#}
{#                </p>#}
{#            </div>#}
{##}
{#            <button type="button" class="button"#}
{#                    aria-labelledby="id_clientside_aria_label"#}
{#                    data-ievv-jsbase-widget="cradmin-select-modal" data-ievv-jsbase-widget-config='{#}
{#                        "valueTargetInputId": "id_clientside_value_target",#}
{#                        "toggleElementsOnValueChange": {#}
{#                            "loading": ["id_clientside_loading"],#}
{#                            "hasValue": ["id_clientside_has_result_wrapper"],#}
{#                            "noValue": ["id_clientside_no_result_wrapper"]#}
{#                        },#}
{#                        "updateInnerHtmlWithResult": {#}
{#                            "title": ["id_clientside_title"],#}
{#                            "description": ["id_clientside_description"]#}
{#                        },#}
{#                        "valueAttribute": "id",#}
{#                        "clientsideSearch": {#}
{#                            "data": [#}
{#                                {#}
{#                                    "id": 1,#}
{#                                    "title": "John",#}
{#                                    "description": "The John"#}
{#                                },#}
{#                                {#}
{#                                    "id": 2,#}
{#                                    "title": "Peter",#}
{#                                    "description": "Peter is coool"#}
{#                                },#}
{#                                {#}
{#                                    "id": 3,#}
{#                                    "title": "No description"#}
{#                                },#}
{#                                {#}
{#                                    "id": 4,#}
{#                                    "title": "Jane",#}
{#                                    "description": "Jane is awesome, but she no longer likes Tarzan"#}
{#                                }#}
{#                            ],#}
{#                            "searchAttributes": ["title", "description"]#}
{#                        },#}
{#                        "componentProps": {#}
{#                            "modal": {#}
{#                                "cssClass": "modal modal--wide"#}
{#                            },#}
{#                            "search": {#}
{#                                "placeholder": "Søk...",#}
{#                                "changeDelay": 200#}
{#                            },#}
{#                            "resultList": {#}
{#                                "className": "blocklist"#}
{#                            },#}
{#                            "result": {#}
{#                                "titleClassName": "blocklist__itemtitle blocklist__itemtitle--large"#}
{#                            }#}
{#                        }#}
{#                    }'>#}
{#                Open select dialog#}
{#            </button>#}
{#            <input type="text" id="id_clientside_value_target" class="input" value="4" />#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="adminui-page-section">#}
{#        <div class="container">#}
{#            <h2>Serverside API example</h2>#}
{#            <div id="id_serverside_aria_label">#}
{#                <p id="id_serverside_loading">#}
{#                    <em>Loading ...</em>#}
{#                </p>#}
{#                <p id="id_serverside_no_result_wrapper" style="display: none;">#}
{#                    Please select a value#}
{#                </p>#}
{#                <p id="id_serverside_has_result_wrapper" style="display: none;">#}
{#                    <strong id="id_serverside_title"></strong>#}
{#                    <small id="id_serverside_description"></small>#}
{#                </p>#}
{#            </div>#}
{##}
{#            <button type="button" class="button"#}
{#                    aria-labelledby="id_serverside_aria_label"#}
{#                    data-ievv-jsbase-widget="cradmin-select-modal" data-ievv-jsbase-widget-config='{#}
{#                        "valueTargetInputId": "id_serverside_value_target",#}
{#                        "fetchEmptySearchOnLoad": true,#}
{#                        "toggleElementsOnValueChange": {#}
{#                            "loading": ["id_serverside_loading"],#}
{#                            "hasValue": ["id_serverside_has_result_wrapper"],#}
{#                            "noValue": ["id_serverside_no_result_wrapper"]#}
{#                        },#}
{#                        "updateInnerHtmlWithResult": {#}
{#                            "title": ["id_serverside_title"],#}
{#                            "description": ["id_serverside_description"]#}
{#                        },#}
{#                        "searchApi": {#}
{#                            "url": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}"#}
{#                        }#}
{#                    }'>#}
{#                Open select dialog#}
{#            </button>#}
{#            <input type="text" id="id_serverside_value_target" class="input" value="1" />#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="adminui-page-section">#}
{#        <div class="container">#}
{#            <h2>Embedded</h2>#}
{#            <div id="id_embedded_aria_label">#}
{#                <p id="id_embedded_loading">#}
{#                    <em>Loading ...</em>#}
{#                </p>#}
{#                <p id="id_embedded_no_result_wrapper" style="display: none;">#}
{#                    Please select a value#}
{#                </p>#}
{#                <p id="id_embedded_has_result_wrapper" style="display: none;">#}
{#                    <strong id="id_embedded_title"></strong>#}
{#                    <small id="id_embedded_description"></small>#}
{#                </p>#}
{#            </div>#}
{##}
{#            <div data-ievv-jsbase-widget="cradmin-select-embedded" data-ievv-jsbase-widget-config='{#}
{#                        "valueTargetInputId": "id_embedded_value_target",#}
{#                        "toggleElementsOnValueChange": {#}
{#                            "loading": ["id_embedded_loading"],#}
{#                            "hasValue": ["id_embedded_has_result_wrapper"],#}
{#                            "noValue": ["id_embedded_no_result_wrapper"]#}
{#                        },#}
{#                        "updateInnerHtmlWithResult": {#}
{#                            "title": ["id_embedded_title"],#}
{#                            "description": ["id_embedded_description"]#}
{#                        },#}
{#                        "searchApi": {#}
{#                            "url": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}"#}
{#                        }#}
{#                    }'>#}
{#            </div>#}
{#            <input type="text" id="id_embedded_value_target" class="input" value="3" />#}
{#        </div>#}
{#    </div>#}







    <div class="adminui-page-section">
        <div class="container">
            <div data-ievv-jsbase-widget="cradmin-api-data-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "dropdowntest",
                     "apiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}",
                     "minimumSearchStringLength": 0,
                     "multiselect": true
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-selected-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "dropdowntest"
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-search-input"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "dropdowntest",
                     "clearWhenItemSelected": true,
                     "focusWhenItemSelected": true
                 }'></div>
            <div class="dropdown"
                 data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                 style="display: none"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "dropdowntest",
                     "showStates": ["HasFocus"]
                 }'>
                <div class="dropdown__content">
                    <div data-ievv-jsbase-widget="cradmin-block-list"
                         data-ievv-jsbase-widget-config='{
                             "signalNameSpace": "dropdowntest",
                             "renderSelected": false
                         }'></div>
                </div>
            </div>
        </div>
    </div>

    <div class="adminui-page-section">
        <div class="container">
            <div data-ievv-jsbase-widget="cradmin-search-input"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "statictest"
                 }'></div>
            <div data-ievv-jsbase-widget="cradmin-static-data-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "statictest",
                     "selectedKeys": [2],
                     "dataList": [
                         {
                             "id": 1,
                             "title": "John",
                             "description": "The John"
                         },
                         {
                             "id": 2,
                             "title": "Peter",
                             "description": "Peter is coool"
                         },
                         {
                             "id": 3,
                             "title": "No description"
                         },
                         {
                             "id": 4,
                             "title": "Jane",
                             "description": "Jane is awesome, but she no longer likes Tarzan"
                         }
                     ]
                 }'>
            </div>
            <div data-ievv-jsbase-widget="cradmin-block-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "statictest"
                 }'>
            </div>
        </div>
    </div>

    <div class="adminui-page-section">
        <div class="container">
            <div data-ievv-jsbase-widget="cradmin-api-data-list"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "multiselect": true,
                     "selectedKeys": [1],
                     "apiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}"
                 }'>
            </div>
            <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
               data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["IsInitializingDataList"]
                 }'>
                Loading
            </p>
            <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
               style="display: none"
               data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["UnfilteredIsEmpty"]
                 }'>
                Empty dataset!
            </p>
            <span data-ievv-jsbase-widget="cradmin-hidden-input-list"
               data-ievv-jsbase-widget-config='{
                 "signalNameSpace": "apitest",
                 "inputName": "apitest"
             }'>
                {% comment %}
                    You can pre-render the hidden fields here to avoid
                    problems when users submit the form before the javascript
                    has finished loading.
                {% endcomment %}
            </span>

            <div data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                 style="display: none"
                 data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["IsNotInitializingDataList"],
                     "hideStates": ["UnfilteredIsEmpty"]
                 }'>
                <div data-ievv-jsbase-widget="cradmin-selected-list"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "apitest"
                     }'>
                </div>
                <p data-ievv-jsbase-widget="cradmin-search-input"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "apitest",
                         "autofocus": true
                     }'></p>
                <div data-ievv-jsbase-widget="cradmin-block-list"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "apitest",
                         "renderSelected": false
                     }'>
                </div>
                <div data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                     style="display: none"
                     class="text-center"
                     data-ievv-jsbase-widget-config='{
                         "signalNameSpace": "apitest",
                         "showStates": ["HasNextPage"],
                         "hideStates": ["IsLoading"]
                     }'>
                    <button type="button" class="button"
                            data-ievv-jsbase-widget="cradmin-load-more"
                            data-ievv-jsbase-widget-config='{
                              "signalNameSpace": "apitest"
                            }'>
                        Load more
                    </button>
                </div>
                <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                   style="display: none"
                   data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["IsLoading"]
                 }'>
                    Loading...
                </p>
                <p data-ievv-jsbase-widget="cradmin-data-list-display-by-state"
                   style="display: none"
                   data-ievv-jsbase-widget-config='{
                     "signalNameSpace": "apitest",
                     "showStates": ["FilteredIsEmpty"],
                     "hideStates": ["IsLoading"]
                 }'>
                    No matches!
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
