{% extends "django_cradmin/standalone-base.django.html" %}
{% load static %}

{% block title %}
    Tabs demo
{% endblock title %}

{% block page-cover-title %}
    Tabs demo
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
{% endblock page-cover-content %}


{% block content %}
    <div class="adminui-page-section">
        <div class="container">
            <nav class="tabs__tab-list"
                    data-ievv-jsbase-widget="cradmin-tab-bar">
                <a class="tabs__tab  tabs__tab--active"
                   href="#ipa"
                   id="tab-ipa"
                   aria-selected="true">
                    India Pale Ale (IPA)
                </a>
                <a class="tabs__tab"
                   href="#gueuze"
                   id="tab-gueuze"
                   aria-selected="false">
                    Gueuze
                </a>
                <a class="tabs__tab"
                   href="#imperial-stout"
                   id="tab-imperial-stout"
                   aria-selected="false">
                    Imperial Stout
                </a>
            </nav>
        </div>
    </div>

    <div class="tabs__panel  tabs__panel--active"
         aria-hidden="false" aria-labelledby="tab-ipa"
         id="ipa"
         data-ievv-jsbase-widget="cradmin-tab-panel"
         data-ievv-jsbase-widget-config='{}'>
        <section class="adminui-page-section">
            <div class="container">
                <h2>India Pale Ale (IPA)</h2>
                ...
            </div>
        </section>
    </div>
    <div class="tabs__panel"
         aria-hidden="true"
         aria-labelledby="tab-gueuze"
         id="gueuze"
         data-ievv-jsbase-widget="cradmin-tab-panel">
        <section class="adminui-page-section">
            <div class="container">
                <h2>Gueuze</h2>
                ...
            </div>
        </section>
    </div>
    <div class="tabs__panel"
         aria-hidden="true" aria-labelledby="tab-imperial-stout"
         id="imperial-stout"
         data-ievv-jsbase-widget="cradmin-tab-panel">
        <section class="adminui-page-section">
            <div class="container">
                <h2>Imperial Stout</h2>
                ...
            </div>
        </section>
    </div>
{% endblock content %}
