/*
Blockquotes

If you use `blockquote` you get a default styling.

<div class="kss-blockquote-wrapper">
    <blockquote>
        <cite><a href="">John Doe</a>, no one knows who he is</cite>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
    </blockquote>
</div>

Markup:
<blockquote>
    <cite><a href="">John Doe</a>, no one knows who he is</cite>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo.</p>
</blockquote>

Styleguide 3.8
*/

blockquote {
    @include font(header);
    margin-top: $spacing--large + $spacing;
    margin-bottom: $spacing--large + $spacing--large + $spacing; // TODO: Not pritty......

    p {
        @include font(header);
        @include font-size(large);
        font-style: italic;

        @include mq(lg) {
            margin-left: -($spacing--large * 3);
            margin-right: -($spacing--large * 3);
        }

        @include mq(xl) {
            margin-left: -($spacing--xlarge);
            margin-right: -($spacing--xlarge);
        }

        &:before {
            content: '– ';
        }
    }

    cite {
        @include font(base);
        @include font-size(medium);
        display: block;
        font-style: normal;
        margin-bottom: $spacing;
        color: $color-muted;

        &:before {
            @extend %icon-user;
            content: '';
            margin-top: 4px;
            margin-right: $unit;
        }
    }
}
