/* From, label, fieldset...

Example: Fieldset and Legend
    <fieldset>
        <legend>I'm a legend</legend>
    </fieldset>

Example: Label
    <label>
        I'm a label!
    </label>

    <p>Look, <label class="label--inline">I'm a inline label</label>!!!</p>

    <label class="label--spaceless">
        I have less spacing under...
    </label>

Styleguide 3.7
*/
form {
    @extend %clearfix;
}

fieldset {
    @extend %clearfix;
    position: relative;
    display: block;
    border: 0;
    margin-top: 0;
    margin-bottom: $vertical-rythm--spacing;
}

legend {
    @extend %h3;

    // Legend position fix
    display: block;
    float: left;
    width: 100%;
}

// Label
label,
.label {
    display: block;
    margin-bottom: $vertical-rythm--spacing;
}

.label--inline {
    display: inline;
    margin: 0;
}

.label--spaceless {
    margin-bottom: $unit;
}

// Form additions
.form-addition {
    padding: $spacing;
    background-color: tint(color(neutral), 80%);
    margin-bottom: $vertical-rythm--spacing;

    &.ng-enter {
        @extend %animation-fall-down;
    }

    &.ng-leave {
        @extend %animation-fade-out-up;
    }
}

/* Error messages

Example:
    <p class="error">Look, I'm an error message!</p>

Styleguide 3.6
*/
.error {
    @include font(base);
    @include font-size(small);

    padding: $spacing--small $spacing;
    margin-bottom: $vertical-rythm--spacing;
    color: $color-light;
    background-color: color(primary);
}
