// Centered page container element
.grid {
    @extend %clearfix;
    max-width: $grid-width;
    margin: 0 auto;

    padding-left: $spacing;
    padding-right: $spacing;

    @include minwidth(lg) {
        padding-left: $spacing--large;
        padding-right: $spacing--large;
    }

    &--xtight {
        max-width: $grid-width--xtight;
    }

    &--tight {
        max-width: $grid-width--tight;
    }

    &--wide {
        max-width: $grid-width--wide;
    }

    // Remove padding from grid within grid
    .grid {
        padding-left: 0;
        padding-right: 0;
    }
}
