/* Lists

Unordered list styles are turned of by default. You need to add classes to style it.

Example: `Ordered list`; Default styling
    <ol>
        <li>I'm number one!</li>
        <li>Second isn't all that bad</li>
        <li>I'm last :(</li>
    </ol>

Example: `.list`; Default styling
    <ul class="list">
        <li>I'm number one!</li>
        <li>Second isn't all that bad</li>
        <li>I'm last :(</li>
    </ul>

Styleguide 2.8
*/
ol {
    margin-bottom: $vertical-rythm--spacing;

    & > li {
        margin-left: $indention;
        margin-bottom: $vertical-rythm;
        list-style-type: decimal;
    }
}

.list {
    margin-bottom: $vertical-rythm--spacing;
    text-align: left;

    &:last-child {
        margin-bottom: 0;
    }

    & > li {
        position: relative;
        padding-left: $indention--sm;
        margin-bottom: 0;

        @include min-width(md) {
            padding-left: $indention;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0.85em;
            left: 0;
            width: $unit * 2;
            border-bottom: $border-width solid color(primary);

            @include min-width(md) {
                top: 0.7em;
                width: $unit * 3;
            }
        }
    }
}
