@import 'cricon/deprecated-icons';  // NOTE: Will be removed in a future release

@import 'screenreaders',
'print',
'animations',
'fieldwrapper',
'body',
'link',
'type',
'lists',
'cricon/cricon',
'fieldset',
'label',
'button',
'input',
'select',
'form',
'hr',
'checkbox-radio',
'hideme',
'container',
'messages',
'help-text',
'range-input',
'global-messages'
;
