/* Label

Add the class `.label` to style labels.

As a default; wrap labels around inputs. It saves markup and make it more intuitive to read code :)

Example: Label
    <label class="label">
        I'm a label!
    </label>

    <p>Look, <label class="label  label--inline">I'm a inline label</label>!!!</p>

    <label class="label  label--spaced">
        I have more spacing below me. The same spacing as a .fieldwrapper.
    </label>

Styleguide form.2:label
*/

.label {
    display: block;
    margin-bottom: $unit;

    &--inline {
        display: inline;
        margin: 0;
    }

    &--spaced {
        margin-bottom: $vertical-rythm--spacing;
        .input {
            margin-bottom: 0;
        }
    }

}
