/* Messages

Used to list multiple messages, typically save success messages, and error messages
just below the page-cover.


Example: {type: isolated}

    <div class="messages" style="margin-bottom: 30px;"> <!-- the style is just for the styleguide rendering -->
        <div class="messages__content">
            <p class="message message--error">Look, I'm an error message!</p>
            <p class="message message--info">Look, I'm an info message!</p>
        </div>
    </div>

Styleguide components.messages
*/
.messages {
    background-color: tint($color-info, 90%);
    padding-top: $spacing;
    padding-bottom: $spacing;

    &__content {
        @include container(wide);
    }

    .message {
        padding: 0;
        color: $color-text;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
