{% extends "django_cradmin/viewhelpers/formview_base.django.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Get sharable link" %}
{% endblock title %}

{% block page-cover-title %}
    {% trans "Get sharable link" %}
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
    <p>
        Anyone with the link can add themself as administrator for the site.
        This is just a demo for a public sharing workflow. You SHOULD NOT use this to invite admins in production!
    </p>
{% endblock page-cover-content %}
