{% extends "django_cradmin/base.django.html" %}
{% load static %}
{% load i18n %}
{% load cradmin_tags %}


{% block title %}
    Public share link
{% endblock title %}

{% block page-cover-title %}
    {% if generictoken %}
        Sharable link
    {% else %}
        Get sharable link
    {% endif %}
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
    {% if generictoken %}
        <p class="page-cover__description">
            Anyone with the link can add themself as administrator for the site.
            This is just a demo for a public sharing workflow.
            You <strong class="page-cover__strong">SHOULD NOT</strong> use this to
            invite admins in production!
        </p>
    {% endif %}
{% endblock page-cover-content %}

{% block content %}
    {% if generictoken %}
        <div class="page-section  page-section--tight">
            <h2>Share</h2>
            <p>
                Share the link below with anyone you want to make an administrator for this site.
            </p>
            <pre>{{ url }}</pre>
        </div>

        <div class="page-section  page-section--tight">
            <h2>Details</h2>
            <p>Expires:
                {% if generictoken.expiration_datetime %}
                    {{ generictoken.expiration_datetime|date:"DATETIME_FORMAT" }}
                {% else %}
                    <span class="text-muted">Never</span>
                {% endif %}
            </p>
            <p>
                Message:
                {% if generictoken.metadata.message %}
                    <span style="white-space: pre-wrap;">{{ generictoken.metadata.message }}</span>
                {% else %}
                    <span class="text-muted">(None)</span>
                {% endif %}
            </p>
        </div>

        <div class="page-section  page-section--tight">
            <h2>Edit</h2>
            <p>
                <a href="{% cradmin_appurl 'edit' %}" class="button  button--primary">
                    Edit
                </a>
                <a href="{% cradmin_appurl 'delete' generictoken.pk %}" class="button">
                    Disable
                </a>
            </p>
        </div>
    {% else %}
        <div class="page-section  page-section--tight  page-section--center">
            <p>
                Click the button below to create a sharable link that enables anyone with
                the link to add themselves as administrator for this site.
            </p>
            <a href="{% cradmin_appurl 'edit' %}" class="button button--primary">
                Get sharable link
            </a>
        </div>
    {% endif %}
{% endblock content %}
