//nav#cradmin_menu {
//  background: @cradmin-menu-bg;
//
//  .cradmin-menucontent {
//    display: none;
//    &.cradmin-menucontent-display {
//      display: block;
//    }
//  }
//
//  .cradmin-menumobileheader {
//    .cradmin-menutoggle {
//      width: 100%;
//      .button-variant(#eee, #333, #444);
//      border: none;
//      text-transform: uppercase;
//      font-weight: bold;
//      padding: 10px 14px;
//      border-radius: 0;
//      background: none;
//    }
//    @media (min-width: @screen-md-min) {
//      display: none;
//    }
//  }
//
//  .cradmin-menucontent {
//    ul {
//      list-style: none;
//      margin: 0;
//      padding: 0;
//      li {
//        .cradmin-menu-activeitemwrapper {
//          font-size: @font-size-base;
//          margin: 0;
//          padding: 0;
//          border: none;
//          line-height: @line-height-base;
//        }
//        a {
//          display: block;
//          color: @cradmin-menu-color;
//          text-overflow: ellipsis;
//          overflow: hidden;
//          white-space: nowrap;
//          padding: 10px 16px 10px 16px;
//          &:hover {
//            text-decoration: none;
//            color: @cradmin-menu-hovercolor;
//          }
//        }
//        &.cradmin-menu-activeitem a {
//          color: @cradmin-menu-hovercolor;
//          font-weight: bold;
//        }
//        .cradmin-menu-childitems {
//          // The topmenu theme does not support child items.
//          display: none;
//        }
//      }
//    }
//  }
//
//  @media (min-width: @screen-md-min) {
//    height: @cradmin-menu-height;
//
//    .cradmin-menucontent {
//      display: block;
//      height: @cradmin-menu-height;
//
//      ul {
//        display: inline-block;
//        height: @cradmin-menu-height;
//        li {
//          display: inline-block;
//          height: @cradmin-menu-height;
//          a {
//            height: @cradmin-menu-height;
//            line-height: @cradmin-menu-height;
//            display: block;
//            padding: 0 16px 0 16px;
//            transition: color 0.3s ease;
//          }
//        }
//
//        &.cradmin-menucontent-footer {
//          margin: 0;
//          float: right;
//        }
//        &.cradmin-menucontent-header {
//          background: @cradmin-menu-header-bg;
//        }
//      }
//    }
//  }
//}


nav#django_cradmin_mainmenu.django-cradmin-menu {
  @media (min-width: @screen-md-min) {
    height: @cradmin-topmenu-theme-mainmenu-height;

    .django-cradmin-menu-content {
      display: block;
      height: @cradmin-topmenu-theme-mainmenu-height;

      ul {
        display: inline-block;
        height: @cradmin-topmenu-theme-mainmenu-height;
        li {
          display: inline-block;
          height: @cradmin-topmenu-theme-mainmenu-height;
          a {
            height: @cradmin-topmenu-theme-mainmenu-height;
            line-height: @cradmin-topmenu-theme-mainmenu-height;
            display: block;
            padding: 0 16px 0 16px;
            transition: color 0.3s ease;
          }
        }

        &.django-cradmin-menu-content-footer {
          margin: 0;
          float: right;
        }
      }
    }
  }
}
