{% extends "django_cradmin/base.django.html" %}
{% load i18n %}

{% block title %}{{ pagetitle }}{% endblock title %}

{% block content %}
    {% block pageheader %}
        <div class="page-header page-header-nomargin">
            <div class="container-fluid">
                {% block headingicon %}{% endblock headingicon %}
                <h1>
                    {% block heading %}
                        {{ pagetitle }}
                    {% endblock heading %}
                </h1>
                {% if buttons %}
                    <p>
                        {% for button in buttons %}
                            {{ button.render }}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        </div>
    {% endblock pageheader %}

    <div
        {% if multiselect_actions %}
            ng-controller="CradminMultiselectObjectTableViewController"
            ng-init="
                items={
                    {% for row in table %}
                        'item_{{ row.object.pk }}': false{% if not forloop.last %},{% endif %}
                    {% endfor %}
                };
                actions={{ multiselect_actions }}
            "
        {% endif %}
    >
        <form class="django_cradmin_form" method="post"
                {% if multiselect_actions %}
                    {% comment %}
                        What we put here does not really matter - it just needs
                        to be a value so AngularJS does not prevent submit.
                    {% endcomment %}
                    action="{{ request.build_absolute_uri }}"
                    django-cradmin-form-action="{% verbatim %}selectedAction.url{% endverbatim %}"
                {% endif %}>

            {% if multiselect_actions %}
                {% comment %}
                    NOTE: Used by the views handling the multiselect to distinguish
                    between POST requests from this view, and within that view.
                {% endcomment %}
                <input type="hidden" name="is_the_multiselect_form" value="yes">
            {% endif %}
            {% csrf_token %}

            <table id="objecttableview-table" class="table table-cradmin-fluid">
                <thead>
                    <tr>
                        {% if multiselect_actions %}
                            <th class="objecttableview-multiselectcolumn">
                                <input type="checkbox"
                                    ng-cloak
                                    ng-checked="selectAllChecked"
                                    ng-click="toggleAllCheckboxes()">
                            </th>
                        {% endif %}
                        {% for column in columns %}
                            <th class="{% if column.is_sortable %}objecttableview-sortable-header{% endif %}">
                                {% if column.is_sortable %}
                                    <a class="objecttableview-flip-ordering-button"
                                            href="{{ column.get_flip_ordering_url }}">
                                        {{ column.get_header }}
                                        {% if column.is_ordered_ascending %}
                                            <span class="sr-only">- {% trans "Click to order descending" %}</span>
                                        {% else %}
                                            <span class="sr-only">- {% trans "Click to order ascending" %}</span>
                                        {% endif %}
                                    </a>
                                    {% if column.is_ordered %}
                                        <span class="objecttableview-orderingmeta">
                                            <a class="objecttableview-remove-ordering-button"
                                                    href="{{ column.get_remove_ordering_url }}"
                                                    title='{% trans "Do not order by this column" %}'>
                                                <span class="fa fa-times"></span>
                                            </a>
                                            {% if multicolumn_ordering %}
                                                <span class="objecttableview-orderingindex">
                                                    {{ column.orderinginfo.orderingstringindex }}
                                                </span>
                                            {% endif %}
                                            <span class="objecttableview-orderingdirection">
                                                {% if column.is_ordered_descending %}
                                                    <span class="fa fa-caret-up"></span>
                                                    <span class="sr-only">{% trans "- Currently ordered descending" %}</span>
                                                {% else %}
                                                    <span class="sr-only">{% trans "- Currently ordered asscending" %}</span>
                                                    <span class="fa fa-caret-down"></span>
                                                {% endif %}
                                            </span>
                                        </span>
                                    {% endif %}
                                {% else %}
                                    {{ column.get_header }}
                                {% endif %}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in table %}
                        <tr
                            {% if multiselect_actions %}
                                ng-class="{'objecttableview-selected-row': items.item_{{ row.object.pk }} }"
                            {% endif %}
                        >
                            {% if multiselect_actions %}
                                <td class="objecttableview-multiselectcolumn">
                                    <input type="checkbox"
                                        name="selected_objects"
                                        value="{{ row.object.pk }}"
                                        ng-cloak
                                        ng-checked="items.item_{{ row.object.pk }}"
                                        ng-click="toggleCheckbox('item_{{ row.object.pk }}')">
                                </td>
                            {% endif %}
                            {% for cell in row.cells %}
                                <td>
                                    {{ cell }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "django_cradmin/viewhelpers/includes/pager.django.html" %}

            {% if multiselect_actions %}
                <div class="django_cradmin_submitrow objecttableview-multiselect-submitrow"
                        ng-class="{django_cradmin_submitrow_hidden: numberOfSelected==0}">
                    <select class="form-control"
                            ng-model="selectedAction"
                            ng-options="action.label for action in actions">
                        <option value="">--- {% trans "Select an action" %} ---</option>
                    </select>
                    <button type="submit" class="btn btn-primary" ng-disabled="!selectedAction">
                        {% trans "Go" %}
                    </button>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock content %}
