{% load i18n %}
{% load cradmin_tags %}

<div>
    {% block widgets %}
        <span data-ievv-jsbase-widget="cradmin-dateselector-day"
             data-ievv-jsbase-widget-config={{ day_widget_config_json }}>
        </span>
        <span data-ievv-jsbase-widget="cradmin-dateselector-month"
             data-ievv-jsbase-widget-config={{ month_widget_config_json }}>
        </span>
        <span data-ievv-jsbase-widget="cradmin-dateselector-year"
             data-ievv-jsbase-widget-config={{ year_widget_config_json }}>
        </span>
    {% endblock widgets %}

    {% block hiddenfield %}
        <span data-ievv-jsbase-widget="cradmin-dateselector-hidden-isodate"
             data-ievv-jsbase-widget-config='{
                 "signalNameSpace": "{{ me.fieldname }}",
                 "inputType": "text",
                 "inputName": "{{ me.fieldname }}"
             }'>
        </span>
    {% endblock hiddenfield %}
</div>
