.django-cradmin-date-selector {
  //display: none;
  //position: fixed;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  //z-index: 100000;

  .django-cradmin-date-selector-backdrop {
    z-index: 100001;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    display: none;
  }

  .django-cradmin-date-selector-content {
    z-index: 100002;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -300px;
    background: #fff;
    width: 600px;
    .translate(0, 100%);
    .transition(@cradmin-dateselector-showtransition);

    .django-cradmin-date-selector-viewswitchers {
      text-align: center;
      padding: 10px 0 10px 0;

      select.form-control {
        display: inline-block;
        width: auto;

        &.django-cradmin-date-selector-dayselect {
          @media (min-width: @screen-sm-min) {
            display: none;
          }
        }
      }
      .django-cradmin-date-selector-use-button {
        @media (min-width: @screen-sm-min) {
          display: none;
        }
      }
    }

    table.django-cradmin-date-selector-table {
      width: 100%;
      margin-top: 10px;
      display: none;
      table-layout: fixed;

      @media (min-width: @screen-sm-min) {
        display: table;
      }

      thead {
        tr {
          th {
            padding: 0 0 6px 0;
            text-align: center;
            width: (100%/7);
          }
        }
      }
      tbody {
        tr {
          td.django-cradmin-date-selector-daybuttoncell {
            margin: 0;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            white-space: nowrap;
            background: @cradmin-dateselector-daybuttoncell-bg;
            color: @cradmin-dateselector-daybuttoncell-color;
            border: 1px solid @cradmin-dateselector-table-bordercolor;
            height: 60px;

            &,
            &:active,
            &.active {
              &:focus {
                // Default
                outline: thin dotted;
                // WebKit
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;
              }
            }

            &:hover,
            &:focus {
              text-decoration: none;
              background: @cradmin-dateselector-daybuttoncell-hover-bg;
              color: @cradmin-dateselector-daybuttoncell-hover-color;
            }

            &.django-cradmin-date-selector-daybuttoncell-not-in-current-month {
              background: @cradmin-dateselector-daybuttoncell-not-in-current-month-bg;
              color: @cradmin-dateselector-daybuttoncell-not-in-current-month-color;
              &:hover,
              &:focus {
                background: @cradmin-dateselector-daybuttoncell-not-in-current-month-hover-bg;
                color: @cradmin-dateselector-daybuttoncell-not-in-current-month-hover-color;
              }
            }

            &:first-child {
              border-left: none;
            }
            &:last-child {
              border-right: none;
            }
          }

          &:last-child {
            td.django-cradmin-date-selector-daybuttoncell {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  &.django-cradmin-date-selector-show {
    //display: block;
    .django-cradmin-date-selector-backdrop {
      display: block;
    }
    .django-cradmin-date-selector-content {
      .translate(0, -5%);
    }
  }
}
