.django-cradmin-form {
  .django-cradmin-filewidget {
    //padding: 10px 15px;

    img {
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 10px;
    }

    a.django-cradmin-filewidget-fullviewlink {
      display: block;
      border: none;
      margin-bottom: 10px;
    }

    .django-cradmin-filewidget-field-and-overlay-wrapper {
      position: relative;

      // Style button and file field the same size
      input[type=file],
      a.django-cradmin-filewidget-fieldoverlay {
        width: 300px;
        height: 40px;
        border-radius: 3px;

      }
      &.django-cradmin-filewidget-field-and-overlay-wrapper-hover {
        a.btn.btn-default {
          .btn-default-hoverstyle-mixin();
        }
      }

      // Put the file field on top of the button, making the user click
      // the invisible file field instead of the button.
      input[type=file] {
        opacity: 0 !important;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden !important;
        cursor: pointer;
      }
    }

    &.django-cradmin-filewidget-clearable {
      label.django-cradmin-filewidget-clear {
        font-weight: normal;
        padding: 0;
        margin: 10px 0 0 0;
        background: #eee;
      }
    }
  }
}


