.django-cradmin-floating-fullsize-iframe-wrapper  {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: @cradmin-floating-iframe-zindex;
  background: @cradmin-floating-iframe-backdrop-bg;

  &.django-cradmin-floating-fullsize-iframe-wrapper-with-navbar {
    .django-cradmin-floating-fullsize-content {
      .django-cradmin-floating-fullsize-iframe-navbar {
        display: block;
      }
      .django-cradmin-floating-fullsize-iframe-inner {
        top: @cradmin-floating-iframe-navbar-height;
      }
    }
  }


  a.django-cradmin-floating-fullsize-iframe-closebutton  {
    position: absolute;
    top: 2px;
    right: 2px;
    text-align: center;
    font-size: 30px;
    z-index: (@cradmin-floating-iframe-zindex + 2);
    width: 50px;
    line-height: 50px;
    border-radius: 25px;
    background: @cradmin-floating-iframe-closebutton-bg;
    color: @cradmin-floating-iframe-closebutton-color;
    text-decoration: none;

    &:hover, &:focus {
      background: @cradmin-floating-iframe-closebutton-hover-bg;
      color: @cradmin-floating-iframe-closebutton-hover-color;
      text-decoration: none;
    }
  }

  .django-cradmin-floating-fullsize-content {
    position: absolute;
    top: 0;
    left: 0;
    right: @cradmin-floating-iframe-closebutton-width;
    bottom: 0;
    background: @cradmin-floating-iframe-content-bg;

    .django-cradmin-floating-fullsize-loadspinner {
      color: #ccc;
      font-size: 50px;
      text-align: center;
      padding-top: 55px;
    }

    .django-cradmin-floating-fullsize-iframe-navbar {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      z-index: (@cradmin-floating-iframe-zindex + 1);
      background: @cradmin-floating-iframe-navbar-bg;
      height: @cradmin-floating-iframe-navbar-height;
      overflow: hidden;

      ul {
        display: inline-block;
        height: @cradmin-floating-iframe-navbar-height;
        list-style: none;
        box-sizing: border-box;
        li {
          box-sizing: border-box;
          display: inline-block;
          height: @cradmin-floating-iframe-navbar-height;
          margin: 0;
          padding: 0;
          a {
            box-sizing: border-box;
            display: block;
            padding: 0 @cradmin-floating-iframe-navbar-item-padding-horizontal;
            line-height: @cradmin-floating-iframe-navbar-height;
            font-weight: @cradmin-floating-iframe-navbar-font-weight;
            background: @cradmin-floating-iframe-navbar-item-bg;
            color: @cradmin-floating-iframe-navbar-item-color;
            text-decoration: none;

            &:hover, &:focus, &.active {
              background: @cradmin-floating-iframe-navbar-item-hover-bg;
              color: @cradmin-floating-iframe-navbar-item-hover-color;
              text-decoration: none;
            }

          }
        }
      }
    }

    .django-cradmin-floating-fullsize-iframe-inner {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .style-scrollbar(@cradmin-floating-iframe-scrollbar-width,
        @cradmin-floating-iframe-scrollbar-track-bg,
        @cradmin-floating-iframe-scrollbar-thumb-bg,
        @cradmin-floating-iframe-scrollbar-thumb-hover-bg);

      iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 90%; // NOTE: This is just the default until the javascript resizes this
        width: 100%;
        border: none;
      }
    }
  }
}
