{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load static %}

{% block page-cover-title %}
    Dashboard
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
    <p class="adminui-page-cover__description">
        For {{ request.cradmin_role.name }}
    </p>
{% endblock page-cover-content %}

{% block content %}
    <section class="adminui-page-section  adminui-page-section--center-lg">
        <div class="container">
            <p>
                Welcome to the django cradmin demo!
            </p>
        </div>
    </section>
{% endblock content %}
