/* AdminUI breadcrumb

The basic components of a breadcrumb is:

```
.adminui-breadcrumbs  (the outer wrapper)
    .adminui-breadcrumbs__content   (wrapper around the content)
        .adminui-breadcrumbs__item   (an item in the breadcrumb)
```

Example: {type: isolated} Basic example

    <nav class="adminui-breadcrumbs  adminui-breadcrumbs--dark">
        <a class="adminui-breadcrumbs__item">
            First
        </a>
        <span class="adminui-breadcrumbs__separator"></span>
        <a class="adminui-breadcrumbs__item">
            Second
        </a>
        <span class="adminui-breadcrumbs__separator"></span>
        <a class="adminui-breadcrumbs__item">
            Last
        </a>
    </nav>

Example: {type: isolated} block-light variant

    <nav class="adminui-breadcrumbs  adminui-breadcrumbs--block-light  adminui-breadcrumbs--dark">
        <a class="adminui-breadcrumbs__item">
            First
        </a>
        <span class="adminui-breadcrumbs__separator"></span>
        <a class="adminui-breadcrumbs__item">
            Second
        </a>
        <span class="adminui-breadcrumbs__separator"></span>
        <a class="adminui-breadcrumbs__item">
            Last
        </a>
    </nav>

Example: {type: isolated} Content before and after (inline-block by default)

    Before the breadcrumb!
    <nav class="adminui-breadcrumbs  adminui-breadcrumbs--dark">
        <a class="adminui-breadcrumbs__item">
            First
        </a>
        <span class="adminui-breadcrumbs__separator"></span>
        <a class="adminui-breadcrumbs__item">
            Second
        </a>
        <span class="adminui-breadcrumbs__separator"></span>
        <a class="adminui-breadcrumbs__item">
            Last
        </a>
    </nav>
    After the breadcrumb!

Example: {type: isolated} With container

    <nav class="adminui-breadcrumbs  adminui-breadcrumbs--block-light  adminui-breadcrumbs--dark">
        <div class="container container--wide">
            <a class="adminui-breadcrumbs__item">
                First
            </a>
            <span class="adminui-breadcrumbs__separator"></span>
            <a class="adminui-breadcrumbs__item">
                Second
            </a>
            <span class="adminui-breadcrumbs__separator"></span>
            <a class="adminui-breadcrumbs__item">
                Last
            </a>
        </div>
    </nav>


Example: {type: isolated} Light variant

    <div style="background-color: #000;">
        <nav class="adminui-breadcrumbs  adminui-breadcrumbs--light">
            <a class="adminui-breadcrumbs__item">
                First
            </a>
            <span class="adminui-breadcrumbs__separator"></span>
            <a class="adminui-breadcrumbs__item">
                Second
            </a>
            <span class="adminui-breadcrumbs__separator"></span>
            <a class="adminui-breadcrumbs__item">
                Last
            </a>
        </nav>
    </div>

Styleguide components.adminui.adminui-breadcrumbs
*/
.adminui-breadcrumbs {
    @include breadcrumbs-mixin();
}
