/* Buttonbar

Example: {type: isolated}
    <div class="buttonbar">
        <button class="buttonbar__button">
            H1
        </button>
        <button class="buttonbar__button">
            H2
        </button>
        <button class="buttonbar__button">
            <strong>B</strong>
        </button>
        <button class="buttonbar__button">
            <em>I</em>
        </button>
    </div>


Example: {type: isolated} Multiple on one line
    <div class="buttonbar buttonbar--inline">
        <button class="buttonbar__button">
            H1
        </button>
        <button class="buttonbar__button">
            H2
        </button>
        <button class="buttonbar__button">
            <strong>B</strong>
        </button>
        <button class="buttonbar__button">
            <em>I</em>
        </button>
    </div>
    <div class="buttonbar buttonbar--inline">
        <button class="buttonbar__button">
            Left
        </button>
        <button class="buttonbar__button">
            Right
        </button>
    </div>


Example: {type: isolated} Compact buttons
    <div class="buttonbar">
        <button class="buttonbar__button buttonbar__button--compact">
            H1
        </button>
        <button class="buttonbar__button buttonbar__button--compact">
            H2
        </button>
    </div>



Example: {type: isolated} Single button works too!
    <div class="buttonbar">
        <button class="buttonbar__button">
            H1
        </button>
    </div>


Example: {type: isolated} --center
    <!--
    Do not combine this with buttonbar--inline. If you want to center inlined
    buttonbar, wrap it in a block element (div) with "text-center" class.
    -->
    <div class="buttonbar buttonbar--center">
        <button class="buttonbar__button">
            Yes
        </button>
        <button class="buttonbar__button">
            No
        </button>
    </div>


Example: {type: isolated} --stretch
    <div class="buttonbar buttonbar--stretch">
        <button class="buttonbar__button">
            Yes
        </button>
        <button class="buttonbar__button">
            No
        </button>
    </div>

Styleguide components.buttonbar
*/

/** Buttonbar - button colors

Example: Default and --fill
    <div class="buttonbar">
        <button class="buttonbar__button buttonbar__button--fill">
            --fill
        </button>
        <button class="buttonbar__button">
            Default
        </button>
    </div>

Example: --primary and --primary-fill
    <div class="buttonbar">
        <button class="buttonbar__button buttonbar__button--primary-fill">
            --primary-fill
        </button>
        <button class="buttonbar__button buttonbar__button--primary">
            --primary
        </button>
    </div>

Example: --secondary and --secondary-fill
    <div class="buttonbar">
        <button class="buttonbar__button buttonbar__button--secondary-fill">
            --secondary-fill
        </button>
        <button class="buttonbar__button buttonbar__button--secondary">
            --secondary
        </button>
    </div>

Example: --warning and --warning-fill
    <div class="buttonbar">
        <button class="buttonbar__button buttonbar__button--warning-fill">
            --warning-fill
        </button>
        <button class="buttonbar__button buttonbar__button--warning">
            --warning
        </button>
    </div>

Example: --success and --success-fill
    <div class="buttonbar">
        <button class="buttonbar__button buttonbar__button--success-fill">
            --success-fill
        </button>
        <button class="buttonbar__button buttonbar__button--success">
            --success
        </button>
    </div>

Example: --light and --light-fill
    <div style="background-color: #000; padding: 10px;">
        <div class="buttonbar">
            <button class="buttonbar__button buttonbar__button--light-fill">
                --light-fill
            </button>
            <button class="buttonbar__button buttonbar__button--light">
                --light
            </button>
        </div>
    </div>


Styleguide components.buttonbar.buttoncolor
 */

@mixin buttonbar-button-modifier($name, $border-color, $text-color, $background-color-hover, $text-color-hover: false) {
    &--#{$name} {
        @include button-style(
            $border-color: $border-color,
            $text-color: $text-color,
            $background-color-hover: $background-color-hover,
            $text-color-hover: $text-color-hover
        );
    }

    &--#{$name}-fill {
        @include button-style-fill(
            $border-color: $background-color-hover,
            $background-color: $background-color-hover,
            $text-color-hover: $text-color,
            $text-color: $text-color-hover
        );
    }
}


.buttonbar {
    $__root: &;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: vertical-space($spacing--small);

    &__button {
        @include button($responsive: false);

        margin-right: -($border-width);
        margin-bottom: 0;
        border-radius: 0;
        width: auto;
        white-space: nowrap;

        @include min-width(md) {
            padding: #{$spacing--small - $border-width} #{$indention - $border-width};
        }

        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        &--fill {
            color: $color-light;
            border-color: color(neutral, dark);
            background-color: color(neutral, dark);

            &:hover,
            &:focus,
            &:active {
                color: $color-text;
                border-color: color(neutral, dark);
                background-color: transparent;
            }
        }

        @include buttonbar-button-modifier(
            'primary',
            color(primary, dark),
            color(primary, dark),
            color(primary, dark)
        );

        @include buttonbar-button-modifier(
            'secondary',
            color(secondary, dark),
            color(secondary, dark),
            color(secondary, dark)
        );

        @include buttonbar-button-modifier(
            'warning',
            color(warning, dark),
            color(warning, dark),
            color(warning, dark)
        );

        @include buttonbar-button-modifier(
            'success',
            color(success, dark),
            color(success, dark),
            color(success, dark)
        );

        @include buttonbar-button-modifier(
            'light',
            $color-light,
            $color-light,
            $color-light,
            color(primary)
        );

        &--compact {
            @include button--compact();
        }
    }

    &--nomargin {
        margin-bottom: 0;
    }

    &--tinymargin {
        margin-bottom: $unit;
    }

    &--stretch {
        //align-content: stretch;
        #{$__root}__button {
            flex: 1 1 auto;
        }
    }

    &--inline {
        display: inline-flex;
    }

    &--center {
        justify-content: center;
    }
}
