/** Calendar month

Example: {type: isolated}

    <div class="calendar-month calendar-month--sane-max-width">
        <div class="calendar-month__header">
            <div class="calendar-month__header-row">
                <div class="calendar-month__header-day">mon</div>
                <div class="calendar-month__header-day">tue</div>
                <div class="calendar-month__header-day">wed</div>
                <div class="calendar-month__header-day">thu</div>
                <div class="calendar-month__header-day">fri</div>
                <div class="calendar-month__header-day">sat</div>
                <div class="calendar-month__header-day">sun</div>
            </div>
        </div>
        <div class="calendar-month__body">
            <div class="calendar-month__week">
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">27</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">28</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">29</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">30</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">31</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">1</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">2</div>
            </div>
            <div class="calendar-month__week">
                <div tabindex="0" aria-role="button" class="calendar-month__day">3</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">4</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">5</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">6</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">7</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">8</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">9</div>
            </div>
            <div class="calendar-month__week">
                <div tabindex="0" aria-role="button" class="calendar-month__day">10</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">11</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">12</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">13</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">14</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">15</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">16</div>
            </div>
            <div class="calendar-month__week">
                <div tabindex="0" aria-role="button" class="calendar-month__day">17</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">18</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">19</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">20</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">21</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">22</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">23</div>
            </div>
            <div class="calendar-month__week">
                <div tabindex="0" aria-role="button" class="calendar-month__day">24</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">25</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">26</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">27</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">28</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">29</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day">30</div>
            </div>
            <div class="calendar-month__week">
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">1</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">2</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">3</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">4</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">5</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">6</div>
                <div tabindex="0" aria-role="button" class="calendar-month__day calendar-month__day--muted">7</div>
            </div>
        </div>
    </div>

Styleguide components.calendar-month
 */
.calendar-month {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin-bottom: $unit;

    &:last-child {
        margin-bottom: 0;
    }

    &__header {
        display: table-header-group;
    }

    &__body {
        display: table-row-group;
    }

    &__week, &__header-row {
        display: table-row;
    }

    &__day, &__header-day {
        display: table-cell;
        padding: $unit 0;
        text-align: center;
        border: $border-style--datetimepicker;
    }

    &__header-day {
        @include font(base, bold);
        @include font-size(xxsmall);
        text-transform: uppercase;
        @include min-width(md) {
            @include font-size(xsmall);
        }
    }

    &__day {
        cursor: pointer;
        @include font(base);

        &:hover,
        &:focus,
        &:active,
        &--selected {
            color: $color-light;
            outline: none;
        }

        &:hover {
            background-color: color(secondary);
        }

        &--today {
            background-color: color(info, light);
        }

        &:focus,
        &:active,
        &--selected {
            background-color: color(secondary, dark);
        }

        &--muted {
            color: $color-muted;
        }
    }

    &--sane-max-width {
        max-width: map-get($breakpoints, xs);
    }
}
