/** Date/time preview

Example: {type: isolated}
    <div class="container">
        <label class="label">
            Publishing time:
        </label>
        <div class="datetime-preview">
            <span class="datetime-preview__label">
                Sun, Dec 24, 2017 12:35 PM
            </span>
            <span class="buttonbar buttonbar--inline buttonbar--nomargin">
                <button class="buttonbar__button buttonbar__button--secondary">
                    <span class="cricon cricon--calendar" aria-hidden="true"></span>
                    Select
                </button>
                <button class="buttonbar__button buttonbar__button--secondary-fill">
                    Now
                </button>
                <button class="buttonbar__button buttonbar__button--secondary-fill">
                    Tomorrow 12 AM
                </button>
            </span>
        </div>
    </div>


Styleguide components.datetime-preview
*/
.datetime-preview {
    text-align: center;
    display: inline-block;
    border: $border-style--small;
    background-color: $color-light;
    padding: $spacing--small;
    &__label {
        color: $color-muted;
        @include font(base, bold);
        display: block;
        margin-bottom: $unit;
        @include min-width(md) {
            display: inline-block;
            margin-right: $spacing--small;
        }
    }
}
