/* Filterlist

Example:

    <div class="filterlist">
    </div>

Styleguide components.filterlist
*/
.filterlist {
    &__header {

    }

    &__body {
        display: flex;
        &--spaced {
            padding: $spacing;
        }
    }

    &__leftcolumn {

    }

    &__centercolumn {

    }

    &__rightcolumn {

    }

    &__topbar {

    }

    &__bottombar {

    }

    &__list {

    }
}
