@mixin page-header-mixin (
        $vertical-padding-base: vertical-space($spacing--small),
        $color: $color-light,
        $background-color: color(primary),
        $navlink-display-breakpoint: lg,
        $content-container-width: wide,
        $height-base: 40px) {
    $__page-header-root: &;
    background-color: $background-color;
    position: relative;
    //top: 0;
    padding: $vertical-padding-base 0;
    width: 100%;
    color: $color;

    &__content {
        @if $content-container-width != null {
            @include container($content-container-width);
        }
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $height-base;
    }

    &__brand,
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__brand {
        border: none;
        height: 100%;
        overflow: hidden;
        justify-content: flex-start;
        flex: 0 0 auto;
        padding: 0;
        margin: 0;
    }

    &__brandname {
        display: inline-block;
        fill: $color;
        color: $color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &__brandimage {
        display: inline-block;
        border: none;
        height: 100%;
        width: auto;
    }

    &__nav {
        position: relative;
        height: 100%;
        justify-content: flex-end;
    }

    &__navlink {
        $__pageheader-navlink-root: &;
        @include font(base, bold);
        @include font-size(xsmall);
        position: relative;
        margin-left: 1em;
        color: $color;
        border-bottom: $border-width--small solid transparent;

        &--active,
        &:hover,
        &:focus {
            color: $color;
            border-color: $color;
        }

        &--large {
            @include font-size(large);
        }

        &--button {
            @include button($responsive: false);
            @include font-size(xsmall);
            color: color(primary);
            border-color: $color;
            background-color: $color;
            padding: $unit $spacing--small;
            margin-bottom: 0;

            @include min-width(md) {
                padding: $unit $spacing--small;
            }

            @at-root #{selector-append(&, selector-append($__pageheader-navlink-root, --active))},
            &:hover,
            &:focus,
            &:active {
                color: $color;
                background-color: transparent;
                border: $border-width solid $color;
            }
        }

        //&, &--button {
        //    display: none;
        //    white-space: nowrap;
        //    text-overflow: ellipsis;
        //    @include min-width($navlink-display-breakpoint) {
        //        display: inline-block;
        //    }
        //}
    }

    &__navmenutoggle {
        @include font(base, bold);
        @include font-size(xsmall);
        position: relative;
        display: block;
        height: 100%;
        margin-left: 1em;
        min-width: $unit * 14;
        color: $color;
        transition: all 300ms $swift-out;

        .icon-hamburger__bar {
            background-color: $color;
        }
    }

    &--small {
        padding-top: ceil($vertical-padding-base * 0.7);
        padding-bottom: ceil($vertical-padding-base * 0.7);
        #{$__page-header-root}__content {
            height: ceil($height-base * .7);
        }
    }

    &--large {
        #{$__page-header-root}__content {
            height: ceil($height-base * 1.4);
        }
    }

    &--xlarge {
        #{$__page-header-root}__content {
            height: ceil($height-base * 1.6);
        }
    }

    &--xxlarge {
        #{$__page-header-root}__content {
            height: ceil($height-base * 2.0);
        }
    }

    &--xxxlarge {
        #{$__page-header-root}__content {
            height: ceil($height-base * 2.5);
        }
    }
}


@mixin page-section-mixin () {
    $__root: &;
    padding-top: $vertical-rythm--medium;
    padding-bottom: $vertical-rythm--medium;

    @include min-width(md) {
        padding-top: $vertical-rythm--spacing + $unit;
        padding-bottom: $vertical-rythm--spacing + $unit;
    }

    &--tight {
        @include container(tight);
    }

    &--focus {
        background-color: $color-light;
    }

    &--primary {
        color: $color-light;
        background-color: color(primary, dark);

        a {
            color: $color-light;

            &:hover {
                color: $color-light;
            }
        }
    }

    &--secondary {
        color: $color-light;
        background-color: color(secondary, dark);

        a {
            color: $color-light;

            &:hover {
                color: $color-light;
            }
        }
    }

    &--center {
        text-align: center;
    }

    &--center-md {
        @include min-width(md) {
            text-align: center;
        }
    }

    &--center-lg {
        @include min-width(lg) {
            text-align: center;
        }
    }

    &--spaced {
        padding-top: $vertical-rythm--spacing;
        padding-bottom: $vertical-rythm--spacing;

        @include min-width(md) {
            padding-top: $vertical-rythm--spacing * 2;
            padding-bottom: $vertical-rythm--spacing * 2;
        }
    }

    &--outlined { // TODO: Better naming
        border-top: $border-style;
        border-color: color(neutral, light);
    }

    &--last {
        margin-bottom: 0;

        & + .care-question {
            margin-top: 0;
        }
    }

    // Collapsable (mobile) styles

    &__toggle {
        @extend %h3;
        position: relative;
        display: block;
        width: 100%;
        padding-right: $unit * 4;
        margin-bottom: 0;

        text-align: inherit;

        &:hover,
        &:focus {
            color: $color-links--hover;
        }

        &:after {
            @include cricon-icon(chevron-down);
            @include cricon-size(small);
            @include cricon-color-secondary();
            position: absolute;
            display: block;
            right: 0;
            top: 50%;
            margin-top: -9px;
            transition: all 300ms $swift-out;
        }

        @include min-width(md) { // TODO: Base this on the modifier --sm?
            display: none;
        }
    }

    &--collapsible-sm {
        border-bottom: $border-style;
        border-color: color(neutral, light);

        @include min-width(md) {
            border-bottom: 0;
        }

        #{$__root}__title,
        #{$__root}__content {
            @extend %animation-fall-down;
            display: none;
            margin-top: $vertical-rythm--medium;

            @include min-width(md) {
                display: block;
            }
        }
    }

    &--expanded {
        #{$__root}__content {
            display: block;
        }

        #{$__root}__toggle:after {
            transform: rotate(-180deg);
        }
    }

    &--spaced {
        padding-top: $vertical-rythm--spacing;
        padding-bottom: $vertical-rythm--spacing;

        @include min-width(md) {
            padding-top: $vertical-rythm--spacing * 2;
            padding-bottom: $vertical-rythm--spacing * 2;
        }
    }

    &--spacing-sm {
        padding-top: vertical-space($spacing--small);
        padding-bottom: vertical-space($spacing--small);

        @include min-width(md) {
            padding-top: vertical-space($spacing);
            padding-bottom: vertical-space($spacing);
        }
    }

    p:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}


@mixin page-cover-mixin(
    $vertical-padding-sm: $spacing,
    $vertical-padding: $vertical-rythm--spacing,
    $background-color: color(primary),
    $color: $color-light,
    $emphasis-background-color: color(primary, dark),
    $emphasis-color: $color-light
) {
    position: relative;
    padding-top: $vertical-padding-sm; // TODO: Vertical variables...
    padding-bottom: $vertical-padding-sm; // TODO: Vertical variables...
    text-align: center;
    color: $color;
    background-color: $background-color;

    @media print {
        background-color: transparent;
        color: #000;
    }

    @include min-width(md) {
        padding-top: $vertical-padding;
        padding-bottom: $vertical-padding;
    }

    &__title {
        position: relative;
        @include container(wide);
        z-index: 2;
        width: 100%;
        max-width: $container-width;
        margin-bottom: $spacing--small;
        @include font-size(xlarge);

        &--small {
            @include font-size(large);
        }

        &:only-child {
            margin-bottom: 0;
        }
    }

    &__description {
        @include container(tight);
        @include font(base, bold);
        @include font-size(small);
        position: relative;
        z-index: 2;
        max-width: $container-width--tight + ($spacing * 2);
        padding: 0;
        margin-bottom: $spacing--small;

        &--large {
            @include font-size(large);
            @include spaced-text;
        }
    }

    &__strong {
        @include font(base, bold);
        display: inline-block;
        padding: 0 $unit 2px;
        margin: 0 -2px;
        color: $emphasis-color;
        background-color: $emphasis-background-color;
    }
    &__link {
        color: $emphasis-color;
        border-color: $emphasis-background-color;
        &:hover,
        &:focus {
            color: $emphasis-color;
            border-color: $emphasis-color;
        }
    }
}


@mixin breadcrumb-item-list-mixin () {
    $__root: &;

    position: relative;
    @include font(base, normal);
    @include font-size(xsmall);
    display: inline-block;
    color: $color-text;

    &__item {
        color: inherit;
        border-color: transparent;
        text-decoration: none;

        &--active {
            @include font(base, bold);
        }
    }
    &__separator {
        &:before {
            @include cricon-fixed-width(xsmall);
            @include cricon-icon(chevron-right);
        }
    }

    //&--dark {
    //    #{$__root}__item {
    //        color: inherit;
    //        border-color: transparent;
    //    }
    //    a#{$__root}__item {
    //        border-color: transparent;
    //        &:hover {
    //            color: $color-links--hover;
    //        }
    //    }
    //}

    &--light {
        color: $color-light;
        #{$__root}__item {
            color: inherit;
        }
        a#{$__root}__item {
            &:hover {
                color: color(neutral, xlight);
                border-color: color(neutral, xlight);
            }
        }
    }
}
