{% load i18n %}

<div class="django-cradmin-filewidget{% if clearable %} django-cradmin-filewidget-clearable{% endif %}">
    {% if file_path %}
        <a href="{{ MEDIA_URL }}{{ file_path }}" target="_blank"
                class="django-cradmin-filewidget-fullviewlink">
            {{ file_name }}
            <span class="fa fa_external_link"></span>
        </a>
    {% endif %}
    {{ input_html|safe }}
    {% if clearable and value %}
        <label class="django-cradmin-filewidget-clear">
            <input type="checkbox" name="{{ clear_checkbox_name }}">
            {% trans "Remove file" %}
        </label>
    {% endif %}
</div>
