{% load i18n %}
{% load cradmin_image_tags %}

<div class="django_cradmin_imagewidget django-cradmin-filewidget {% if clearable %}django-cradmin-filewidget-clearable{% endif %}"
        django-cradmin-image-preview>
    {% if image_path %}
        <img src="{% cradmin_thumbnail image_path width=preview_width height=preview_height image_format=preview_format %}"
             django-cradmin-image-preview-img>
    {% else %}
        {# Used for the preview - hidden before we have a preview #}
        <img django-cradmin-image-preview-img>
    {% endif %}
    <div class="django-cradmin-filewidget-field-and-overlay-wrapper" django-cradmin-filefield-overlay>
        {{ input_html|safe }}
        <a class="btn btn-default django-cradmin-filewidget-fieldoverlay" href="#">
            {% if image_path %}
                {% trans "Replace image" %}
            {% else %}
                {% trans "Upload image" %}
            {% endif %}
        </a>
    </div>
    {% if clearable and value %}
        <label class="django-cradmin-filewidget-clear">
            <input type="checkbox" name="{{ clear_checkbox_name }}">
            {% trans "Remove image" %}
        </label>
    {% endif %}
</div>
