{% load i18n %}
{% load cradmin_image_tags %}
{% load cradmin_icon_tags %}

<div class="django-cradmin-imagewidget django-cradmin-filewidget {% if clearable %}django-cradmin-filewidget-clearable{% endif %}"
        django-cradmin-image-preview
        ng-controller="CradminFileFieldController">
    <div class="django-cradmin-imagewidget-preview-and-clear"
            ng-show="cradmin_filefield_has_value">
        <div class="django-cradmin-imagewidget-preview-and-clear-inner">
            {% if imageurl %}
                <img src="{% cradmin_transform_image_using_imagetype imageurl=imageurl imagetype=preview_imagetype fallbackoptions=preview_fallback_options %}"
                     django-cradmin-image-preview-img
                     style="{{ preview_css_styles }}">
            {% else %}
                {# Used for the preview - hidden before we have a preview #}
                <img django-cradmin-image-preview-img
                     style="{{ preview_css_styles }}">
            {% endif %}

            {% if clearable %}
                <div class="django-cradmin-filewidget-clear">
                    <input type="hidden" name="{{ clear_checkbox_name }}"
                           ng-value="cradmin_filefield_clearcheckbox_value">
                    <button type="button" class="btn btn-danger btn-sm"
                            ng-click="cradminClearFileField()">
                        <span class="screenreader-only">{% trans "Remove image" %}</span>
                        <span class="{% cradmin_icon 'x' %}"></span>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="django-cradmin-filewidget-field-and-overlay-wrapper" django-cradmin-filefield-overlay>
        {{ input_html|safe }}
        <a class="btn btn-default django-cradmin-filewidget-fieldoverlay" href="#">
            {% if imageurl %}
                {% trans "Replace image ..." %}
            {% else %}
                {% trans "Select an image ..." %}
            {% endif %}
        </a>
    </div>
</div>
