{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    {% block pageheader %}
        <div class="page-header page-header-nomargin">
            <div class="container-fluid">
                {% block pageheader-inner %}{% endblock pageheader-inner %}
            </div>
        </div>
    {% endblock pageheader %}

    {% crispy form formhelper %}

    {% comment %}
        NOTE: This will probably break when https://github.com/maraujop/django-crispy-forms/issues/263 is fixed
    {% endcomment %}
    {{ form.media }}

    {% block handle_preview %}
        {% if show_preview %}
            <div django-cradmin-page-preview-wrapper>
                {% include "django_cradmin/pagepreview/includes/pagepreview-fullsize-iframe-wrapper.django.html" %}
                <div django-cradmin-page-preview-open-on-page-load="'{{ preview_url }}'"></div>
            </div>
        {% endif %}
    {% endblock handle_preview %}
{% endblock content %}
