{% extends "django_cradmin/base.django.html" %}
{% load i18n %}

{% block title %}
    {{ pagetitle }}
{% endblock title %}

{% block page-cover-title %}
    {{ pagetitle }}
{% endblock page-cover-title %}

{% block content %}
    <div class="page-section  page-section--center">
        {% block delete-form %}
            <form action="{{ request.build_absolute_uri }}" method="post" class="django-cradmin-form">
                {% csrf_token %}
                {% block deletequestion %}
                    <div id="deleteview-preview">
                        <p>{{ confirm_message }}</p>
                    </div>
                {% endblock deletequestion %}
                <button type="submit" class="button  button--primary">{{ delete_button_label }}</button>
                <a class="button" django-cradmin-back>{% trans "Cancel" %}</a>
            </form>
        {% endblock delete-form%}
    </div>
{% endblock content %}
