{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block pageheader-outer-extra-class %}
    django-cradmin-page-header-outer-formview
{% endblock pageheader-outer-extra-class %}

{% block content %}
    {% block pre_form %}{% endblock pre_form %}
    {% block form %}
        <div class="container">
            {% crispy form formhelper %}
        </div>

        {% comment %}
            NOTE: This will probably break when https://github.com/maraujop/django-crispy-forms/issues/263 is fixed
        {% endcomment %}
        {{ form.media }}
    {% endblock form %}
    {% block post_form %}{% endblock post_form %}
{% endblock content %}
