{% extends "django_cradmin/standalone-base.django.html" %}
{% load static %}

{% block title %}
    Filterlist demo
{% endblock title %}

{% block page-cover-title %}
    Filterlist demo
{% endblock page-cover-title %}

{% block page-cover-content %}
    {{ block.super }}
{% endblock page-cover-content %}


{% block content %}
    <section class="adminui-page-section">
        <div class="container">
            <h2>Simple</h2>
            <div data-ievv-jsbase-widget="cradmin-filterlist"
                 data-ievv-jsbase-widget-config='{
                     "getItemsApiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}"
                 }'>

            </div>
        </div>
    </section>
    <section class="adminui-page-section">
        <div class="container">
            <h2>Custom items and filters</h2>
            <div data-ievv-jsbase-widget="cradmin-filterlist"
                 data-ievv-jsbase-widget-config='{
                     "getItemsApiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}",
                     "itemSpec": {
                        "component": "TitleDescription"
                     },
                     "filterSpecs": [{
                        "component": "CheckboxBoolean",
                        "props": {
                          "name": "is_godlike",
                          "label": "Is godlike?",
                          "location": "left"
                        },
                        "initialValue": true
                     }, {
                        "component": "Search",
                        "props": {
                          "name": "search",
                          "location": "header",
                          "placeholder": ["God", "Time", "wizard"]
                        }
                     }]
                 }'>

            </div>
        </div>
    </section>
    <section class="adminui-page-section">
        <div class="container">
            <h2>Dropdown list</h2>
            <div data-ievv-jsbase-widget="cradmin-filterlist"
                 data-ievv-jsbase-widget-config='{
                     "getItemsApiUrl": "{% url 'cradmin_javascript_demos_api:fictional-figures-list' %}",
                     "component": "DropDownList",
                     "itemSpec": {
                        "component": "TitleDescription"
                     },
                     "filterSpecs": [{
                        "component": "DropDownSearch",
                        "props": {
                          "name": "search",
                          "location": "header",
                          "placeholder": ["God", "Time", "wizard"]
                        }
                     }, {
                        "component": "CheckboxBoolean",
                        "props": {
                          "name": "is_godlike",
                          "label": "Is godlike?",
                          "location": "left"
                        },
                        "initialValue": true
                     }]
                 }'>

            </div>

            <p>
                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </p>
        </div>
    </section>
{% endblock content %}
