
/* List of block elements

Example: Basic block list
    <ul class="blocklist">
        <li class="blocklist__element">Element 1</li>
        <li class="blocklist__element">Element 2</li>
        <li class="blocklist__element">Element 3</li>
    </ul>


Example: With headings for each element
    <section class="blocklist">
        <section class="blocklist__element">
            <h2 class="h4">Element 1</h2>
            <p>Inceptos Tristique Bibendum Parturient</p>
        </section>

        <section class="blocklist__element">
            <h2 class="h4">Element 2</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p>
        </section>
        <section class="blocklist__element">
            <h2 class="h4">Element 3</h2>
            <p>Pellentesque Cursus Adipiscing</p>
        </section>
    </section>


Example: List of links
    <nav class="blocklist">
        <a class="blocklist__element blocklist__element--link">
            <h2 class="h4">Element 1</h2>
            <p>Inceptos Tristique Bibendum Parturient</p>
        </a>
        <a class="blocklist__element blocklist__element--link">
            <h2 class="h4">Element 2</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p>
        </a>
        <a class="blocklist__element blocklist__element--link">
            <h2 class="h4">Element 3</h2>
            <p>Pellentesque Cursus Adipiscing</p>
        </a>
    </nav>


Example: With buttons
    <section class="blocklist">
        <section class="blocklist__element">
            <h2 class="h4">Element 1</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p>
            <p>
                <button class="button  button--primary">Edit</button>
            </p>
        </section>
        <section class="blocklist__element">
            <h2 class="h4">Element 2</h2>
            <p>Pellentesque Cursus Adipiscing</p>
            <p>
                <button class="button  button--primary">Edit</button>
                <button class="button">Preview</button>
            </p>
        </section>
    </section>


Example: With tighter spacing
    <section class="blocklist blocklist--tight">
        <section class="blocklist__element">
            <h2 class="h6">Element 1</h2>
            <p>Inceptos Tristique Bibendum Parturient</p>
        </section>
        <section class="blocklist__element">
            <h2 class="h6">Element 2</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p>
        </section>
        <section class="blocklist__element">
            <h2 class="h6">Element 3</h2>
            <p>Pellentesque Cursus Adipiscing</p>
        </section>
    </section>


Styleguide 4.2
*/
.blocklist {
    .blocklist__element {
        display: block;
        margin-bottom: $vertical-rythm--spacing;
        background-color: rgba(color(neutral), 0.2);
        padding: $vertical-rythm--spacing $spacing;

        h2, .h2,
        h3, .h3,
        h4, .h4,
        h5, .h5,
        h6, .h6,
        p, pre, table, form {
            &:first-child {
                margin-top: 0;
                padding-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }

        &--link {
            border-bottom: $border-width solid $color-links;
            color: $color-text;
            text-decoration: none;
            &:hover {
                color: $color-text;
                text-decoration: none;
            }

            &:hover,
            &:focus {
                border-color: $color-links--hover;
            }
        }
    }

    &--tight {
        .blocklist__element {
            margin-bottom: $vertical-rythm--spacing--small;
            padding: $vertical-rythm--spacing--small $spacing--small;
        }
    }
}
