// TODO: Remove?
.inline-links {
    text-align: center;
    margin-top: -($unit);
    margin-bottom: $vertical-rythm--spacing;

    &__item {
        // @extend %link--light;
        // @include font(header, bold);
        @include spaced-text;
        display: inline-block;
        border-color: transparent;
        margin-left: $spacing--small;
        margin-right: $spacing--small;
    }
}
