

/* Layouts

Example: {type: isolated} Left sidebar with content filling right hand side
    <div class="layout layout--leftsidebar-content">
        <nav class="layout__item">
            <ul>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
                <li><a href="#">Page 4</a></li>
            </ul>
        </nav>
        <main class="layout__item">
            <h1>Hello world</h1>
            <p>Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </main>
    </div>

Styleguide 5.1
*/
.layout {
    &--leftsidebar-content {
        display: flex;
        flex-direction: column;
        @include min-width(md) {
            flex-direction: row;
        }

        .layout__item {
            &:nth-child(1) {
                @include min-width(md) {
                    min-width: sidebar-size(md);
                    width: sidebar-size(md);
                }
                @include min-width(lg) {
                    min-width: sidebar-size(md);
                    width: sidebar-size(lg);
                }
                @include min-width(xl) {
                    min-width: sidebar-size(md);
                    width: sidebar-size(xl);
                }
            }
            &:nth-child(2) {
                padding: 0 $spacing;
                @include min-width(md) {
                    width: calc(100% - #{sidebar-size(md)});
                }
                @include min-width(lg) {
                    width: calc(100% - #{sidebar-size(lg)});
                }
                @include min-width(xl) {
                    width: calc(100% - #{sidebar-size(xl)});
                }
            }
        }
    }
}
