

/* Layouts

Example: {type: isolated} Left sidebar with content filling right hand side
    <div class="layout layout--leftsidebar-content">
        <nav class="layout__item">
            <ul>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
                <li><a href="#">Page 4</a></li>
            </ul>
        </nav>
        <main class="layout__item">
            <h1>Hello world</h1>
            <p>Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        </main>
    </div>


Styleguide 4.3
*/
.layout {
    &--leftsidebar-content {
        display: flex;

        .layout__item {
            &:first-child {
                width: 300px;
            }
            &:last-child {
                width: calc(100% - 350px);
            }
        }
    }
}
