// TODO: Replace this with one block for menu content, and one for the menu expander button.

/* Menu


Example: {type: isolated}  Basic pure CSS example

    <div class="menu">

        <!--
            Should have javascript to toggle the "menu__content--expanded" class
            on the "menu__content" element.
        -->
        <button type="button" class="menu__toggle  button button--block  button--primary-fill  button--nomargin">
            Menu
        </button>

        <div class="menu__content  menu__content--expanded">
            <nav class="navigationtree  navigationtree--vertical  navigationtree--primary">
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 1
                    </a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 2
                    </a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 3
                    </a>
                </div>
            </nav>
        </div>
    </div>


Example: {type: isolated}  Collapsable menu using the cradmin angularjs directive

    <div class="menu" django-cradmin-menu>

        <button type="button"
                class="menu__toggle  button button--block  button--primary-fill  button--nomargin"
                ng-click="cradminMenuTogglePressed()"
                ng-class="{'button--selected': cradminMenuDisplay}"
                aria-pressed="{{ getAriaPressed() }}">
            Menu
        </button>

        <div class="menu__content"
                ng-class="{'menu__content--expanded': cradminMenuDisplay}">
            <nav class="navigationtree  navigationtree--vertical  navigationtree--primary">
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 1
                    </a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 2
                    </a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 3
                    </a>
                </div>
            </nav>
        </div>
    </div>


Example: {type: isolated}  Always visible from the "md" breakpoint and up

    <div class="menu  menu--disable-toggle-md" django-cradmin-menu>
        <button type="button"
                class="menu__toggle  button button--block  button--primary-fill  button--nomargin"
                ng-click="cradminMenuTogglePressed()"
                ng-class="{'button--selected': cradminMenuDisplay}"
                aria-pressed="{{ getAriaPressed() }}">
            Menu
        </button>

        <div class="menu__content"
                ng-class="{'menu__content--expanded': cradminMenuDisplay}">
            <nav class="navigationtree  navigationtree--vertical  navigationtree--primary">
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 1
                    </a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 2
                    </a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 3
                    </a>
                </div>
            </nav>
        </div>
    </div>


Example: {type: isolated}  Always visible from the "lg" breakpoint and up

    <div class="menu  menu--disable-toggle-lg" django-cradmin-menu>
        <button type="button"
                class="menu__toggle  button button--block  button--primary-fill  button--nomargin"
                ng-click="cradminMenuTogglePressed()"
                ng-class="{'button--selected': cradminMenuDisplay}"
                aria-pressed="{{ getAriaPressed() }}">
            Menu
        </button>

        <div class="menu__content"
                ng-class="{'menu__content--expanded': cradminMenuDisplay}">
            <nav class="navigationtree  navigationtree--vertical  navigationtree--primary">
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 1
                    </a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 2
                    </a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">
                        Page 3
                    </a>
                </div>
            </nav>
        </div>
    </div>


Styleguide 4.5
*/
.menu {
    .menu__content {
        display: none;
        &--expanded {
            display: block;
        }
    }

    &--disable-toggle-md {
        @include min-width(md) {
            .menu__toggle {
                display: none;
            }
            .menu__content {
                display: block;
            }
        }
    }

    &--disable-toggle-lg {
        @include min-width(lg) {
            .menu__toggle {
                display: none;
            }
            .menu__content {
                display: block;
            }
        }
    }
}
