/* Navigation tree

Example: {type: isolated} Simple flat navigationtree with links

    <nav class="navigationtree  navigationtree--vertical">
        <div class="navigationtree__item">
            <a href="#" class="navigationtree__link">
                Page 1
            </a>
        </div>
        <div class="navigationtree__item">
            <a href="#" class="navigationtree__link">
                Page 2
            </a>
        </div>
        <div class="navigationtree__item">
            <a href="#" class="navigationtree__link">
                Page 3
            </a>
        </div>
    </nav>

Example: {type: isolated} Horizontal menu

    <nav class="navigationtree  navigationtree--horizontal">
        <div class="navigationtree__item">
            <a href="#" class="navigationtree__link">
                Page 1
            </a>
        </div>
        <div class="navigationtree__item">
            <a href="#" class="navigationtree__link">
                Page 2
            </a>
        </div>
        <div class="navigationtree__item">
            <a href="#" class="navigationtree__link">
                Page 3
            </a>
        </div>
    </nav>

Example: {type: isolated} Menu with children

    <nav class="navigationtree  navigationtree--vertical">
        <div class="navigationtree__item  navigationtree__item--withchildren">
            <a href="#" class="navigationtree__link">Page 1</a>
            <div class="navigationtree__children">
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">Page 1.1</a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">Page 1.2</a>
                </div>
            </div>
        </div>
        <div class="navigationtree__item  navigationtree__item--withchildren">
            <a href="#" class="navigationtree__link">Page 2</a>
            <div class="navigationtree__children">
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">Page 2.1</a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">Page 2.2</a>
                </div>
            </div>
        </div>
        <div class="navigationtree__item  navigationtree__item--withchildren">
            <a href="#" class="navigationtree__link">Page 3</a>
            <div class="navigationtree__children">
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">Page 3.1</a>
                </div>
                <div class="navigationtree__item">
                    <a href="#" class="navigationtree__link">Page 3.2</a>
                </div>
            </div>
        </div>
    </nav>

Example: {type: isolated} Menu with the --primary modifier

    <nav class="navigationtree  navigationtree--vertical navigationtree--primary">
        <div class="navigationtree__item">
            <a href="#" class="navigationtree__link">
                Page 1
            </a>
        </div>
        <div class="navigationtree__item">
            <a href="#" class="navigationtree__link">
                Page 2
            </a>
        </div>
        <div class="navigationtree__item  navigationtree__item--active">
            <a href="#" class="navigationtree__link">
                Page 3 (active)
            </a>
        </div>
        <div class="navigationtree__item">
            <a href="#" class="navigationtree__link">
                Page 4
            </a>
        </div>
    </nav>


Styleguide 4.4
*/
.navigationtree {
    .navigationtree__item--active {
        color: $color-links--hover;
        border-color: $color-links--hover;
    }

    &--vertical {
        .navigationtree__item {

        }

        .navigationtree__link {
            display: block;
            max-width: 100%;
            padding: $spacing--small $spacing;
        }

        .navigationtree__children {
            padding-left: $spacing;
        }
    }

    &--vertical-viewheight-md {
        @extend .navigationtree--vertical;
        @include minwidth(md) {
            min-height: 100vh;
        }
    }

    &--vertical-viewheight-lg {
        @extend .navigationtree--vertical;
        @include minwidth(lg) {
            min-height: 100vh;
        }
    }

    &--horizontal {
        display: flex;
        flex-direction: row;

        .navigationtree__item {
            margin: 0 $spacing--small;
        }

        .navigationtree__link {
            display: block;
            max-width: 100%;
            padding: $spacing--small $spacing;
        }

    }

    &--primary {
        background-color: color(primary, base);

        .navigationtree__item--active {
            background-color: color(primary, dark);
        }

        .navigationtree__link {
            color: $color-light;
            border: none;
            &:hover,
            &:focus {
                color: $color-light;
                background-color: color(primary, dark);
            }
        }
    }
}
