.page-cover {
    padding-top: $header-height;
    padding-bottom: $spacing--large;
    text-align: center;
    color: $color-light;
    background-color: color(primary);

    &__title {
        padding: 0 $spacing;
        max-width: $grid-width;
        margin: 0 auto $spacing;

        &:only-child {
            margin-bottom: 0;
        }
    }

    &__description {
        @include font-size(medium);

        max-width: $grid-width--tight + ($spacing * 2);
        padding: 0 $spacing;
        margin-left: auto;
        margin-right: auto;

        strong { // TODO: BEM?
            @include font(base, bold);
            display: inline-block;
            padding: 0 $unit 2px;
            margin: 0 -2px;
            background-color: color(primary, dark);
        }
    }

    @include minwidth(md) {
        padding-top: $header-height + $vertical-rythm--spacing;
        padding-bottom: $vertical-rythm--spacing * 3;
    }
}
