.page-section {
    @extend %clearfix;
    padding-top: $spacing;
    padding-bottom: $spacing;

    &--article {
        // @include font-size(small);
    }

    &--quote {
        padding-top: 0;
    }

    &--tight {
        @extend .grid;
        @extend .grid--tight;
    }

    &--toc { // TODO: Rename to something more re-usable
        padding-top: $vertical-rythm * 4;
        padding-bottom: $vertical-rythm;
        margin-bottom: $vertical-rythm;
        background-color: rgba(color(neutral), 0.2);
    }

    &--filters {
        padding-top: 0;
        padding-bottom: $spacing--large;
        text-align: center;
        color: $color-light;
        background-color: color(primary);
        margin-top: -($vertical-rythm * 5);

        @include minwidth(md) {
            margin-top: -($vertical-rythm * 10);
        }
    }

    &--focus {
        padding-top: $vertical-rythm--spacing * 3;
        padding-bottom: $vertical-rythm--spacing * 2 + $vertical-rythm;
        background-color: rgba(color(neutral), 0.2);
        margin-bottom: $vertical-rythm;
    }

    &--center {
        text-align: center;
    }

    &--padded {
        padding: $spacing;
    }

    &--last {
        margin-bottom: 0;

        & + .care-question {
            margin-top: 0;
        }
    }
}
