.page-footer {
    @extend %clearfix;
    position: relative;
    overflow: hidden;
    background-color: shade($color-background, 5%);

    @include mq(md) {
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            background-color: color(primary);
        }
    }

    &__section {
        position: relative;
        z-index: 2;
        padding: $spacing--large 0;

        @include mq(md) {
            width: 50%;
            float: left;
        }

        &--promoted {
            background-color: color(primary);
            margin-left: -($spacing);
            margin-right: -($spacing);
            padding-left: $spacing;
            padding-right: $spacing;

            .page-menu__content {
                padding: 0;
            }

            @include mq(md) {
                background-color: transparent;

                padding-left: $spacing--large;
                padding-right: 0;

                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
