.page-header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: $level-1;

    padding: $vertical-rythm 0;

    color: color(primary);

    @include mq(md) {
        padding: #{$vertical-rythm * 2} 0;
        height: $header-height;
    }

    &__nav {
        position: relative;
        top: 1px;
        float: right;
    }

    &__link {
        @include font(base, bold);
        @include font-size(xsmall);
        display: none;
        position: relative;
        margin-left: 1em;
        color: $color-links;
        border-bottom: $border-width--small dotted transparent;

        // letter-spacing: 0.1em;
        // text-transform: uppercase;

        &:hover,
        &:focus {
            border-color: $color-links;
        }

        @include mq(lg) {
            display: inline;
        }

        &--mittap {
            @include mq(lg) {
                display: inline-block;
            }
            float: right;
            margin-top: -2px;
            padding: #{$unit + 1px} $spacing--small $unit;
            border: $border-style;

            &:before {
                @extend %icon-user-small--secondary;
                position: relative;
                top: 1px;
                content: '';
            }
        }
    }

    &__menu {
        position: relative;
        top: 8px;
        float: right;
        min-width: $unit * 14;
        line-height: 20px;

        transition: all 300ms $swift-out;

        @include mq(lg) {
            display: none;
        }

        &--light {
            color: $color-light;

            .icon-hamburger__bar {
                background-color: $color-light;
            }
        }
    }

    &__content {
        @extend .grid;
        @extend .grid--wide;
    }

    &--show-menu {
        position: fixed;
        color: $color-light;
        z-index: $level-4;

        .branding__text,
        .branding__mark,
        .branding__name {
            fill: $color-light;
            color: $color-light;

            @include mq(md) {
                fill: color(primary);
                color: color(primary);
            }
        }
    }

    &--light {
        color: $color-light;

        .icon-hamburger__bar {
            background-color: $color-light;
        }

        .page-header__link {
            color: $color-light;

            &:hover,
            &:focus {
                border-color: $color-light;
            }

            &--mittap {
                border-color: color(primary, dark);

                &:before {
                    @extend %icon-user-small--light;
                    opacity: 0.9;
                }
            }
        }

        .branding__text,
        .branding__mark,
        .branding__name {
            fill: $color-light;
            color: $color-light;
        }
    }

    &--dark {
        color: $color-light;
        // background-color: shade(color(primary, dark), 5%);
        background-color: color(primary, dark);
        // background-color: color(primary);
        // border-bottom: $border-width solid color(primary, dark);
        // background-color: color(neutral, medium);

        .icon-hamburger__bar {
            background-color: $color-light;
        }

        .page-header__link {
            color: rgba($color-light, 0.8);

            &:hover,
            &:focus {
                border-color: $color-light;
            }
        }

        .page-header__link--promoted {
            color: $color-light;
        }

        .branding__text,
        .branding__mark,
        .branding__name {
            fill: $color-light;
            color: $color-light;
        }
    }
}
