.page-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $level-3;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: $spacing;

    @include min-width(md) {
        left: 50%;
    }

    &:before {
        opacity: 0;

        content: '';
        position: fixed;
        display: block;
        pointer-events: none;
        width: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: color(primary);

        @include min-width(md) {
            width: 50%;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        color: $color-light;
        max-width: $grid-width / 2;

        padding-top: $header-height;
        padding-left: $spacing;
        padding-right: $spacing;

        @include min-width(lg) {
            padding-top: $header-height + $spacing--large;
            padding-left: $spacing--large;
            padding-right: $spacing--large;
        }

        &.ng-enter {
            animation: fade-in 300ms $swift-out both;
        }
    }

    &__item {
        display: inline-block;
        color: $color-light;
        border-color: transparent;
        margin-right: $spacing;
        margin-bottom: $spacing;

        &:hover,
        &:focus {
            color: $color-light;
            border-color: $color-light;
        }

        &--promo {
            @extend %h3;
            margin: $spacing--small 0;
        }
    }

    &__promo {
        border-bottom: $border-width solid color(primary, dark);
        padding-bottom: ($spacing--large - $spacing--small);
        margin-bottom: $spacing--large;
    }

    &__demoted {
        padding-bottom: $spacing;
    }

    &__backdrop {
        @extend .backdrop;
        cursor: pointer;

        display: none;

        @include min-width(md) {
            display: block;
        }
    }

    &.ng-enter {
        animation: no-anim 650ms; // Angular hack

        &:before {
            animation: menu-background-flip 300ms linear;
        }

        .page-menu__content {
            // animation: fade-in 300ms $swift-out both;
        }
    }

    &.ng-leave {
        @extend %animation-fade-out;
    }

    &--visible {
        &:before {
            opacity: 1;
        }
    }
}

@keyframes menu-background-flip {
    0% {
        opacity: 1;
        transform: translateX(100%);
    }

    70% {
        transform: translateX(40%) skewX(5deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
