
/* Page cover

Example: {type: isolated} Simple with only a title

    <header class="page-cover  page-cover--without-page-header">
        <h1 class="page-cover__title">The title</h1>
    </header>

Example: {type: isolated} With room for a .page-header

    <header class="page-header  page-header--light">
        <div class="page-header__content">
            Page header content
        </div>
    </header>
    <header class="page-cover  page-cover--without-page-header">
        <h1 class="page-cover__title">The title</h1>
    </header>

Styleguide 7.8
*/
.page-cover {
    position: relative;
    text-align: center;
    color: $color-light;
    background-color: color(primary);

    &--with-page-header {
        padding-top: $header-height;
        padding-bottom: $spacing--large;
        @include min-width(md) {
            padding-top: $header-height + $vertical-rythm--spacing;
            padding-bottom: $vertical-rythm--spacing * 3;
        }
    }

    &--without-page-header {
        padding-top: $spacing--large;
        @include min-width(md) {
            padding-top: $vertical-rythm--spacing * 3;
            padding-bottom: $vertical-rythm--spacing * 3;
        }
    }

    &__title {
        position: relative;
        z-index: 2;
        padding: 0 $spacing;
        max-width: $container-width;
        margin: 0 auto $spacing;

        &:only-child {
            margin-bottom: 0;
        }
    }

    &__description {
        @include font-size(medium);
        position: relative;
        z-index: 2;

        max-width: $container-width--tight + ($spacing * 2);
        padding: 0 $spacing;
        margin-left: auto;
        margin-right: auto;

        &--large {
            @include font-size(large);
            @include spaced-text;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
    }
}
