{% extends "django_cradmin/viewhelpers/listbuilderview/default.django.html" %}
{% load cradmin_tags %}

{% block list %}
    <div style="display: flex; flex-direction: row;">
        <div style="flex-grow: 1; margin-right: 20px;">
            {% cradmin_render_renderable filterlist %}
        </div>
        <div style="flex-grow: 5;">
            {{ block.super }}
        </div>
        <div style="width: 35px; align-self: stretch; background: #ccc;
                   color: #333;
                   border-color: #bbb;
                   border-width: 0 1px 0 1px;
                   border-style: solid;
                   opacity: 0.4;
                   display: flex; flex-direction: column;
                   text-align: center; justify-content: space-between;
                   padding-top: 20px; padding-bottom: 20px;
                   margin-left: 20px; margin-right: 20px;">
            <div style="">
                <span class="fa fa-exchange"></span>
            </div>
            <div style="">
                <span class="fa fa-exchange"></span>
            </div>
            <div style="">
                <span class="fa fa-exchange"></span>
            </div>
        </div>
        <div style="flex-grow: 2;">
            {% cradmin_render_renderable targetrenderer %}
        </div>
    </div>
{% endblock list %}
