{% extends "django_cradmin/viewhelpers/formview_base.django.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {% trans "Create public share link" %}
{% endblock title %}

{% block pageheader-inner %}
    <h1>
        {% trans "Create public share link" %}
    </h1>
    <p>
        {% trans "Anyone with this link can become admin on this site." %}
        {% trans "This is just a demo for a public sharing workflow. You SHOULD NOT use this to invite admins in production!" %}
    </p>
{% endblock pageheader-inner %}
