{% extends "django_cradmin/base.django.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page-cover-title %}
    <strong>{% trans "EDIT" %}</strong>
    {{ pagetitle }}
{% endblock page-cover-title %}

{% block content %}
    {% block forms %}
        <div class="django-cradmin-form-wrapper">
            <form method="post" action="{{ request.build_absolute_uri }}" class="django-cradmin-form">
                {% csrf_token %}
                {{ selected_objects_form.as_ul }}
                {% crispy form formhelper %}
            </form>
        </div>
    {% endblock forms %}

    {% comment %}
        NOTE: This will probably break when https://github.com/maraujop/django-crispy-forms/issues/263 is fixed
    {% endcomment %}
    {{ form.media }}
{% endblock content %}
