{% extends 'django_cradmin/viewhelpers/listbuilder/itemvalue/titledescription.django.html' %}
{% load cradmin_tags %}

{% block description-content %}
    {{ block.super }}
    <p class="account-id-{{ me.message.account_id }}">
        Posted by:
        <span class="{% cradmin_test_css_class 'listbuilder-account-name' %}">
            {{ me.message.account }}
        </span>
        at
        <span>
            {{ me.message.creation_time }}
        </span>
    </p>
{% endblock description-content %}
