{% extends 'django_cradmin/viewhelpers/listbuilderview/default.django.html' %}
{% load cradmin_tags %}

{% block title %}
    Gettingstarted
{% endblock title  %}

{% block page-cover-title %}
    Messages
{% endblock page-cover-title %}

{% block messages %}{% endblock messages %}

{% block content %}
    <section class="adminui-page-section">
        <div class="container container--wide">
            {% if listbuilder_list %}
                <div class="blocklist">
                    {% cradmin_render_renderable listbuilder_list %}
                </div>
                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="/gettingstarted/messages?page={{ page_obj.previous_page_number }}">
                                    << previous
                                </a>
                            {% endif %}
                            <span class="page-current {% cradmin_test_css_class 'number-of-pages' %} ">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="/gettingstarted/messages?page={{ page_obj.next_page_number }}">
                                    next >>
                                </a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            {% else %}
                <p class="text-center message message--info {% cradmin_test_css_class 'no-messages' %}">
                    No messages in system
                </p>
            {% endif %}
        </div>
    </section>

{% endblock content %}
