{% extends "cradmin_email/html_message_base.django.html" %}
{% block contents %}
    This is a test, {{ name }}<br><br>

    <a href="http://example.com" style="{{ primary_button_link_style }}">Click here to visit example.com</a><br><br>

    Human rumours lead to the procedure.
    Virtual, delighted processors unearthly deserve a calm, collective alien.
    I gather this hypnosis, it's called chemical metamorphosis.
    <a href="http://example.com" style="{{ link_style }}">Particles die on honor at astral city!</a>
    Red alert, hypnosis! Spheroid space suits, to the solar system.<br><br>

    <a href="http://example.com" style="{{ secondary_button_link_style }}">A secondary button link</a><br><br>

    Distant queens, to the ready room.
    When the space suit views for hyperspace, all sensors capture proud, colorful lieutenant commanders.
    Ancient, most unusual spaces never offer a mysterious, ugly sonic shower.
    When the captain harvests for earth, all planets question quirky, vital ships.
{% endblock contents %}
